<!DOCTYPE HTML>
<html>
 <head>
    {% block head %}
    <title> {{ title|default('PRODIGE') }} </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!-- IE specific : forcing IE9 Document model because ext 3.0 incompatibility with IE10 -->
    <META HTTP-EQUIV="X-UA-Compatible" CONTENT="IE=9"/>
    <!-- ExtJS css -->
    <link rel="stylesheet" type="text/css" href="{{ asset('/bundles/prodigeprodige/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('/bundles/prodigeprodige/bootstrap/css/bootstrap-theme.min.css') }}">
    <!-- bootstrap js needs jQuery -->
    <!--<script src="/bootstrap/js/bootstrap.min.js"></script>-->
    <link rel="stylesheet" type="text/css" href="{{ asset('/bundles/prodigeprodige/font-awesome/css/font-awesome.min.css') }}">
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    <style type="text/css">
    .navbar-brand {
        padding-top: 5px;
    }
    </style>
    {% endblock %}
 </head>
    <body>
        {% block navbar %}
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                {% block navbarHearder %}
                <div class="navbar-header">
                    {% block navbarBrand %}
                    <a class="navbar-brand" href="#"><img src="{{ asset('/bundles/prodigeprodige/images/logo-client.png') }}" alt="prodige" style="height:40px"/></a>
                    {% endblock %}
                </div>
                {% endblock %}
                {% block navbarContent %}
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        {% block navbarLinks %}
                            <!-- add navbar links here -->
                        {% endblock %}
                    </ul>
                </div>
                {% endblock %}
            </div>
        </nav>
        {% endblock %}
        <div class="container-fluid">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>