@CHARSET "UTF-8";

#toolPanel .x-btn.x-btn-default-small {
    background-color: #007099;
    border-color: #c0c0c0;
}

.x-btn-default-small {
    background-color: #5dbae5;
    border-color: #c0c0c0;
}

.x-btn-over.x-btn-default-small {
    background-color: #007099!important;
    border-color: #c0c0c0!important;
}
#toolPanel .x-btn.x-btn-menu-active.x-btn-default-small, 
#toolPanel .x-btn.x-btn-pressed.x-btn-default-small {
    background-color: #5dbae5!important; /*#993323;*/
    border-color: #0D0B61!important; /*#aa4434;*/
}

.x-menu-default  .x-btn-default-small {
  background-color: #5dbae5!important; /*#993323;*/
  border-color: #0D0B61!important; /*#aa4434;*/
  /*border-color: #0D0B61!important;*/ /*#aa4434;*/
  border: none!important;
}

#locatorButton.x-btn.x-btn-default-large, 
#dataButton.x-btn.x-btn-default-large {
    background-color: #5dbae5;
}
#locatorButton.x-btn.x-btn-menu-active.x-btn-default-large, 
#dataButton.x-btn.x-btn-menu-active.x-btn-default-large, 
#locatorButton.x-btn.x-btn-pressed.x-btn-default-large,
#dataButton.x-btn.x-btn-pressed.x-btn-default-large {
    background-color: #007099;
    border-color: #007099;
}
#locatorButton.x-btn.x-btn-default-large.x-btn-over, 
#dataButton.x-btn.x-btn-default-large.x-btn-over {
    background-color: #007099!important;
    border-color: #007099!important;
}

.x-tab-over.x-tab-default {
    background-color: #5dbae5;
    border-color: #5dbae5;
}

#titlePanel-body {
  background-color: rgba(0, 112, 153, 0.8)!important;
}

#titleLabel {
  background-color: rgba(0, 112, 153, 0.8)!important;
}

.olControlAttributionCarmen {
  background-color: #007099!important;
}

#cmnToolTipPanel-body{
  background-color: rgba(0, 112, 153, 0.8)!important;
}

.x-window-default {
  border: 1px solid #007099;
}

.x-panel-default-outer-border-trl {
    border-left-color: #5dbae5 !important;
    border-right-color: #5dbae5 !important;
    border-top-color: #5dbae5 !important;
}
.x-panel-header-default, .x-window-header-default {
    background-color: #007099; /*#5dbae5;*/
}


.x-tab-bar-default {
    background-color: #007099; /*#5dbae5;*/ /*#5dbae5;*/
}

.x-toolbar-footer {
    border-color: #5dbae5;
}

.x-tab-bar-default-top > .x-tab-bar-body-default {
  background-color: #007099;
}
.x-tab-default {
  border-color: #5dbae5; /*#5dbae5;*/
}
.x-tab-default-top {
  background-color: #5dbae5; /*#5dbae5;*/
}
#infoPanel .x-accordion-hd {
    background:#5dbae5;
}
span.buttonItem {
  background-color: #007099;
}

.btn-extblack.active,
.btn-extblack:hover, 
.btn-extblack:focus, 
.btn-extblack:active,
.btn-extblack.disabled,
.btn-extblack[disabled],
.btn-extblack{
  background: #5dbae5 !important;
}
