@CHARSET "UTF-8";

#toolPanel .x-btn.x-btn-default-small {
    background-color: #7B4E00;
    border-color: #c0c0c0;
}

.x-btn-default-small {
    background-color: #AA6E05;
    border-color: #c0c0c0;
}

.x-btn-over.x-btn-default-small {
    background-color: #7B4E00!important;
    border-color: #c0c0c0!important;
}
#toolPanel .x-btn.x-btn-menu-active.x-btn-default-small, 
#toolPanel .x-btn.x-btn-pressed.x-btn-default-small {
    background-color: #AA6E05!important; /*#993323;*/
    border-color: #5F471D!important; /*#aa4434;*/
}

.x-menu-default  .x-btn-default-small {
  background-color: #AA6E05!important; /*#993323;*/
  border-color: #5F471D!important; /*#aa4434;*/
  /*border-color: #5F471D!important;*/ /*#aa4434;*/
  border: none!important;
}

#locatorButton.x-btn.x-btn-default-large, 
#dataButton.x-btn.x-btn-default-large {
    background-color: #AA6E05;
}
#locatorButton.x-btn.x-btn-menu-active.x-btn-default-large, 
#dataButton.x-btn.x-btn-menu-active.x-btn-default-large, 
#locatorButton.x-btn.x-btn-pressed.x-btn-default-large,
#dataButton.x-btn.x-btn-pressed.x-btn-default-large {
    background-color: #7B4E00;
    border-color: #7B4E00;
}
#locatorButton.x-btn.x-btn-default-large.x-btn-over, 
#dataButton.x-btn.x-btn-default-large.x-btn-over {
    background-color: #7B4E00!important;
    border-color: #7B4E00!important;
}

.x-tab-over.x-tab-default {
    background-color: #AA6E05;
    border-color: #AA6E05;
}

#titlePanel-body {
  background-color: rgba(123, 78, 0, 0.8)!important;
}

#titleLabel {
  background-color: rgba(123, 78, 0, 0.8)!important;
}

.olControlAttributionCarmen {
    background-color: #7B4E00!important;
}

#cmnToolTipPanel-body{
  background-color: rgba(123, 78, 0, 0.8)!important;
}


.x-window-default {
  border: 1px solid #7B4E00;
}

.x-panel-default-outer-border-trl {
    border-left-color: #AA6E05 !important;
    border-right-color: #AA6E05 !important;
    border-top-color: #AA6E05 !important;
}
.x-panel-header-default, .x-window-header-default {
    background-color: #7B4E00; /*#AA6E05;*/
}


.x-tab-bar-default {
    background-color: #7B4E00; /*#AA6E05;*/ /*#AA6E05;*/
}

.x-toolbar-footer {
    border-color: #AA6E05;
}

.x-tab-bar-default-top > .x-tab-bar-body-default {
  background-color: #7B4E00;
}
.x-tab-default {
  border-color: #AA6E05; /*#AA6E05;*/
}
.x-tab-default-top {
  background-color: #AA6E05; /*#AA6E05;*/
}
#infoPanel .x-accordion-hd {
    background:#AA6E05;
}
span.buttonItem {
  background-color: #7B4E00;
}

.btn-extblack.active,
.btn-extblack:hover, 
.btn-extblack:focus, 
.btn-extblack:active,
.btn-extblack.disabled,
.btn-extblack[disabled],
.btn-extblack{
  background: #AA6E05 !important;
}
