@CHARSET "UTF-8";

#toolPanel .x-btn.x-btn-default-small {
    background-color: #00851C;
    border-color: #c0c0c0;
}

.x-btn-default-small {
    background-color: #3EE061;
    border-color: #c0c0c0;
}

.x-btn-over.x-btn-default-small {
    background-color: #00851C!important;
    border-color: #c0c0c0!important;
}
#toolPanel .x-btn.x-btn-menu-active.x-btn-default-small, 
#toolPanel .x-btn.x-btn-pressed.x-btn-default-small {
    background-color: #3EE061!important; /*#993323;*/
    border-color: #256633!important; /*#aa4434;*/
}

.x-menu-default  .x-btn-default-small {
  background-color: #3EE061!important; /*#993323;*/
  border-color: #256633!important; /*#aa4434;*/
  /*border-color: #256633!important;*/ /*#aa4434;*/
  border: none!important;
}

#locatorButton.x-btn.x-btn-default-large, 
#dataButton.x-btn.x-btn-default-large {
    background-color: #3EE061;
}
#locatorButton.x-btn.x-btn-menu-active.x-btn-default-large, 
#dataButton.x-btn.x-btn-menu-active.x-btn-default-large, 
#locatorButton.x-btn.x-btn-pressed.x-btn-default-large,
#dataButton.x-btn.x-btn-pressed.x-btn-default-large {
    background-color: #00851C;
    border-color: #00851C;
}
#locatorButton.x-btn.x-btn-default-large.x-btn-over, 
#dataButton.x-btn.x-btn-default-large.x-btn-over {
    background-color: #00851C!important;
    border-color: #00851C!important;
}

.x-tab-over.x-tab-default {
    background-color: #3EE061;
    border-color: #3EE061;
}

#titlePanel-body {
  background-color: rgba(0, 133, 28, 0.8)!important;
}

#titleLabel {
  background-color: rgba(0, 133, 28, 0.8)!important;
}

.olControlAttributionCarmen {
    background-color: #00851C!important;
}

#cmnToolTipPanel-body{
  background-color: #00851C!important; 
}

.x-window-default {
  border: 1px solid #00851C;
}

.x-panel-default-outer-border-trl {
    border-left-color: #3EE061 !important;
    border-right-color: #3EE061 !important;
    border-top-color: #3EE061 !important;
}
.x-panel-header-default, .x-window-header-default {
    background-color: #00851C; /*#3EE061;*/
}
.x-panel-header-default-framed-top{
    background-color: #00851C; /*#3EE061;*/
}

.x-panel-header-title-default-framed{
 color:#FFFFFF;
 
}
.x-tab-bar-default {
    background-color: #00851C; /*#3EE061;*/ /*#3EE061;*/
}

.x-toolbar-footer {
    border-color: #3EE061;
}

.x-tab-bar-default-top > .x-tab-bar-body-default {
  background-color: #00851C;
}
.x-tab-default {
  border-color: #3EE061; /*#3EE061;*/
}
.x-tab-default-top {
  background-color: #3EE061; /*#3EE061;*/
}
#infoPanel .x-accordion-hd {
    background:#3EE061;
}
span.buttonItem {
  background-color: #00851C;
}

.btn-extblack.active,
.btn-extblack:hover, 
.btn-extblack:focus, 
.btn-extblack:active,
.btn-extblack.disabled,
.btn-extblack[disabled],
.btn-extblack{
  background: #3EE061 !important;
}
