@CHARSET "UTF-8";

#toolPanel .x-btn.x-btn-default-small {
    background-color: #BF8301;
    border-color: #c0c0c0;
}

.x-btn-default-small {
    background-color: #FFAD00;
    border-color: #c0c0c0;
}

.x-btn-over.x-btn-default-small {
    background-color: #BF8301!important;
    border-color: #c0c0c0!important;
}
#toolPanel .x-btn.x-btn-menu-active.x-btn-default-small, 
#toolPanel .x-btn.x-btn-pressed.x-btn-default-small {
    background-color: #FFAD00!important; /*#993323;*/
    border-color: #CE812E!important; /*#aa4434;*/
}

.x-menu-default  .x-btn-default-small {
  background-color: #FFAD00!important; /*#993323;*/
  border-color: #CE812E!important; /*#aa4434;*/
  /*border-color: #CE812E!important;*/ /*#aa4434;*/
  border: none!important;
}

#locatorButton.x-btn.x-btn-default-large, 
#dataButton.x-btn.x-btn-default-large {
    background-color: #FFAD00;
}
#locatorButton.x-btn.x-btn-menu-active.x-btn-default-large, 
#dataButton.x-btn.x-btn-menu-active.x-btn-default-large, 
#locatorButton.x-btn.x-btn-pressed.x-btn-default-large,
#dataButton.x-btn.x-btn-pressed.x-btn-default-large {
    background-color: #BF8301;
    border-color: #BF8301;
}
#locatorButton.x-btn.x-btn-default-large.x-btn-over, 
#dataButton.x-btn.x-btn-default-large.x-btn-over {
    background-color: #BF8301!important;
    border-color: #BF8301!important;
}

.x-tab-over.x-tab-default {
    background-color: #FFAD00;
    border-color: #FFAD00;
}

#titlePanel-body {
  background-color: rbga(191, 131, 1, 0.8)!important;
}

#titleLabel {
  background-color: rgba(191, 131, 1, 0.8)!important;
}

.olControlAttributionCarmen {
  background-color: #BF8301!important;
}

#cmnToolTipPanel-body{
  background-color: rgba(191, 131, 1, 0.8)!important;
}

.x-window-default {
  border: 1px solid #BF8301;
}

.x-panel-default-outer-border-trl {
    border-left-color: #FFAD00 !important;
    border-right-color: #FFAD00 !important;
    border-top-color: #FFAD00 !important;
}
.x-panel-header-default, .x-window-header-default {
    background-color: #BF8301; /*#FFAD00;*/
}


.x-tab-bar-default {
    background-color: #BF8301; /*#FFAD00;*/ /*#FFAD00;*/
}

.x-toolbar-footer {
    border-color: #FFAD00;
}

.x-tab-bar-default-top > .x-tab-bar-body-default {
  background-color: #BF8301;
}
.x-tab-default {
  border-color: #FFAD00; /*#FFAD00;*/
}
.x-tab-default-top {
  background-color: #FFAD00; /*#FFAD00;*/
}
#infoPanel .x-accordion-hd {
    background:#FFAD00;
}
span.buttonItem {
  background-color: #BF8301;
}

.btn-extblack.active,
.btn-extblack:hover, 
.btn-extblack:focus, 
.btn-extblack:active,
.btn-extblack.disabled,
.btn-extblack[disabled],
.btn-extblack{
  background: #FFAD00 !important;
}
