@CHARSET "UTF-8";

#toolPanel .x-btn.x-btn-default-small {
    background-color: #7800A0;
    border-color: #c0c0c0;
}

.x-btn-default-small {
    background-color: #C000FF;
    border-color: #c0c0c0;
}

.x-btn-over.x-btn-default-small {
    background-color: #7800A0!important;
    border-color: #c0c0c0!important;
}
#toolPanel .x-btn.x-btn-menu-active.x-btn-default-small, 
#toolPanel .x-btn.x-btn-pressed.x-btn-default-small {
    background-color: #C000FF!important; /*#993323;*/
    border-color: #865397!important; /*#aa4434;*/
}

.x-menu-default  .x-btn-default-small {
  background-color: #C000FF!important; /*#993323;*/
  border-color: #865397!important; /*#aa4434;*/
  /*border-color: #865397!important;*/ /*#aa4434;*/
  border: none!important;
}

#locatorButton.x-btn.x-btn-default-large, 
#dataButton.x-btn.x-btn-default-large {
    background-color: #C000FF;
}
#locatorButton.x-btn.x-btn-menu-active.x-btn-default-large, 
#dataButton.x-btn.x-btn-menu-active.x-btn-default-large, 
#locatorButton.x-btn.x-btn-pressed.x-btn-default-large,
#dataButton.x-btn.x-btn-pressed.x-btn-default-large {
    background-color: #7800A0;
    border-color: #7800A0;
}
#locatorButton.x-btn.x-btn-default-large.x-btn-over, 
#dataButton.x-btn.x-btn-default-large.x-btn-over {
    background-color: #7800A0!important;
    border-color: #7800A0!important;
}

.x-tab-over.x-tab-default {
    background-color: #C000FF;
    border-color: #C000FF;
}

#titlePanel-body {
  background-color: rgba(120, 0, 160, 0.8)!important;
}

#titleLabel {
  background-color: rgba(120, 0, 160, 0.8)!important;
}

.olControlAttributionCarmen {
  background-color: #7800A0!important;
}

#cmnToolTipPanel-body{
  background-color: rgba(120, 0, 160, 0.8)!important;
}

.x-window-default {
  border: 1px solid #7800A0;
}

.x-panel-default-outer-border-trl {
    border-left-color: #C000FF !important;
    border-right-color: #C000FF !important;
    border-top-color: #C000FF !important;
}
.x-panel-header-default, .x-window-header-default {
    background-color: #7800A0; /*#C000FF;*/
}


.x-tab-bar-default {
    background-color: #7800A0; /*#C000FF;*/ /*#C000FF;*/
}

.x-toolbar-footer {
    border-color: #C000FF;
}

.x-tab-bar-default-top > .x-tab-bar-body-default {
  background-color: #7800A0;
}
.x-tab-default {
  border-color: #C000FF; /*#C000FF;*/
}
.x-tab-default-top {
  background-color: #C000FF; /*#C000FF;*/
}
#infoPanel .x-accordion-hd {
    background:#C000FF;
}
span.buttonItem {
  background-color: #7800A0;
}

.btn-extblack.active,
.btn-extblack:hover, 
.btn-extblack:focus, 
.btn-extblack:active,
.btn-extblack.disabled,
.btn-extblack[disabled],
.btn-extblack{
  background: #C000FF !important;
}
