/* CSS Document */

* {
	padding: 0;
	margin: 0;
	border: 0;
}

body {
	margin: 0;
	padding: 0;
	font: normal .75em  Verdana, sans-serif;	 
	background: #93bd2f url(../images/header_bg.gif) repeat-x 0 0;
	color: #505245;
	line-height: 1.5em;
}

#conteneur {
    position:absolute;
    left: 50%; 
    top: 50%;
    width: 760px;
    min-height: 40em;
	height:40em;
    margin-top: -20em;
    margin-left: -380px;
    border: 1px solid #596b2e;
	background-color:#ffffff;
	padding: 0;		
	-moz-border-radius: 10px;
}

#contenu {
	padding:30px;
	margin:0;
}

#colonneImage {
	width:121px;
	float:left;
}

#colonneTexte {
	padding:0 0 0 30px;
	width:547px;
	float:right;
}

p {
	margin: 7px 0;
	padding: 0;
	line-height:1.6em;
}

p.top {
	margin-top:17px;
}

p.bottom {
	margin-bottom:50px;
}

h1 {
	font: bold 3em 'Trebuchet MS', Tahoma, Arial, sans-serif;
	color: #93BD2F;
	margin:0;
	padding:0;
}

h2 {
	font: normal 1.7em 'Trebuchet MS', Tahoma, Arial, sans-serif;
	color: #596b2e;
	padding: 0;
	margin:0;
	line-height:1.1em;
}

a {
	font-weight:bold;
	color:#668d0c;
	text-decoration:none;
}

a:hover {
	text-decoration:underline;
}

img {
	margin-bottom:30px;
}