<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
    <!-- IE specific : forcing IE9 Document model because ext 3.0 incompatibility with IE10 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="expires" content="0">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache, must-revalidate">
    <!-- <link rel="shortcut icon" href="./favicon.ico" />-->
    
    <script src="{{ URL }}/Scripts/lib_crypt.js"></script> 
    
    <title>Contacter l'administrateur</title>    
    <link rel="stylesheet" type="text/css" href="{{ URL }}/CSS/administration_carto_ajout.php">
    <META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=UTF-8">
  </head>

  
  <script type="text/javascript">
	  function Valider(){
	     var form=document.form_pwd;
	     form.submit();
	   }
	  function refreshCaptcha(){
		  var oImg =  document.images['captchaimg'];
		  if( oImg ) {
		    oImg.src = oImg.src.split("?")[0]+"?rand="+Math.round(Math.random()*1000000);
		  }
	  }	 
	  function validateEmail()
	  {
			var mail = document.getElementById('usr_email').value;
			var name = document.getElementById('usr_name').value;
			var firstname = document.getElementById('usr_firstname').value;
			var message = document.getElementById('message').value;
			if(name =="" || mail == "" || firstname == "" || message == ""){
				parent.Ext.Msg.alert('Contact', "Veuillez renseigner tous les champs.");
				return false;
			}
	  	var modele = /^[_a-z0-9-]+(\.[_a-z0-9-]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/;
	      if (!modele.test(mail)){
	      	parent.Ext.Msg.alert('Contact', "L'adresse email est incorrecte.");
	      	return false
	      }
	      return true
	  }
  </script>
  <body>
  <div class="errormsg" id="errormsg">
    {{ errormsg }}
    </div>
     {% if not (isSend) %}
      <form name="form_pwd" method="post"  onSubmit="return validateEmail();" action="">
        <table class="formulaire">
          <tr>
            <th>Nom </th>
            <td>
              <input type='text' name='usr_name' id='usr_name' value="{{ usr_name }}" size="50" maxlength="255">
            </td>
          </tr>
           <tr>
            <th>Prénom </th>
            <td>
              <input type='text' name='usr_firstname' id='usr_firstname' value="{{ usr_firstname }}" size="50" maxlength="255">
            </td>
          </tr>
          <tr>
            <th>Couriel </th>
            <td>
              <input type='text' name='usr_email' id='usr_email' value="{{ usr_mail }}" size="50" maxlength="255">
            </td>
          </tr>
          <tr>
            <th>Code de sécurité </th>
            <td>
            	<input id="6_letters_code" name="6_letters_code" type="text">
            	<a href='javascript:refreshCaptcha();'>
            		<img src="{{ URL }}/include/captcha.php?rand={{ captcha }}" id="captchaimg">
            	</a>
            </td>
          </tr>
          <tr>
           <th>Message </th>
            <td>
            	<textarea id="message" name="message" cols="50" rows="6"></textarea>
            </td>
          </tr>
          <tr><td>&nbsp;</td></tr>
          <tr>
            <td colspan="2" class="validation" align="center">
              <input type="submit" name="VALIDATION" value="Valider">
            </td>
          </tr>
        </table>        
      </form>      
    {% endif %}
    </div>
    <iframe name="footerExec" height="0" width="0" frameborder="0"></iframe>
  </body>
</html>