    <script>
        function downloadWFS(url, metadata_id, name) {
            var infoDownload = {
            suffix : "wfs",
            idSrv : 0,
            projection : "",
            format : "gml",
            infoLayers :  [
                           { id : metadata_id, name : name, server : 1} 
                          ]
            };
            Ext.Ajax.timeout = timout_tele_direct;  // set timout
            Ext.Ajax.request({
                url: "{{ CARMEN_URL_SERVER_DOWNLOAD }}",
                method: "POST",
                params: {  "mode": "prodige",
                           "data_type" : "url",
                           "service_idx": 1,
                           "email": "",
                           "format": encodeValue("gml"),
                           "projection": "",
                           "data":encodeValue(url),
                           "metadata_id": encodeValue(metadata_id),
                           "direct": "{{ direct }}",
                           "bTerritoire": 0,
                           "territoire_type": "",
                           "territoire_data": "",
                           "territoire_area" : "",
                           "restricted_area_field" : "",
                           "restricted_area_buffer" : "",
                           "extract_area": "",
                           "buffer": ""
                        },
                success: function(result) {
                    telecharger_success(result, infoDownload);
                },
                failure: function(result) {
                    telecharger_failure(result, infoDownload);
                }
            });
        }
    </script>

    <div id="downloadBlock_distant" class="downloadBlock x-hide-display" align="center">
        <div class="sousTitre"> <span> Données en téléchargement libre </span> </div>
        <br/>
        <table class="formulaire" align="center" style="border-color: #828177;" border="1" cellpadding="2" cellspacing="0">
            <tr>
                <td align="center" style="font-weight: bold"> Métadonnée </td>
                <td align="center" style="font-weight: bold"> Informations </td>
                <td align="center" style="font-weight: bold"> Type de de service </td>
                <td align="center" style="font-weight: bold"> Accès au service </td>
            </tr>
            {{ strhtml |raw }}
        </table>
    </div>
