{% if bIsAllowed %}
    <script type="text/javascript" src="/Scripts/select.js"> </script>
    <script>
        {{ strSelectPerim |raw }}

       /**
        **fonction appelée sur le onload du changement de zonage
        **/
        function changeZonage(oZonage) {

          var zonageField = oZonage.value;
          var oPerimetre = document.getElementById("perimetre");
          RemoveAllFromSelect(oPerimetre, true);
          var tabData = tabPerim[zonageField];
          for(var key in tabData) {
           if(key!="remove" && key!="indexOf")
              AddOptionToSelect(oPerimetre, key, tabData[key], false, false);
          }
          oPerimetre.selectedIndex = 0;
        }

        /**
         * effectue l'appel Ajax permettant d'exécuter le téléchargement direct ou différé
         * @param bDirect   booléen indiquant si le téléchargement est direct ou non
         */
        function execute_telecharger_majic(bDirect) {
            // mise a jour interface
            var divElt = getElementByIdSrvSuffix(0, "majic");
            if(divElt) 
            divElt.innerHTML = "<table><tr><td valign=\"middle\">En cours de traitement...</td><td><img src=\"/geosourcebundle/images/panier/waiting.gif\"></td></tr></table>";

            var data_type = "majic";
            var service_idx = "{{ service_idx }}";
            var email       = "{{ email }}";
            var format      = "{{ format }}";
            var projection  = "";
            var data        = "";
            var metadata_id = "{{ metadata_id }}";
            var bTerritoire     = "0";
            var territoire_type = "";
            var territoire_data = document.getElementById("perimetre").value;
            var extract_area = "" ;
            var buffer = "";

            var infoDownload = {
                suffix : "vector",
                idSrv : 0,
                projection : projection,
                format : format,
                infoLayers :  [
                               {{ infoLayers |raw }}
                ]
            }

            if(email == "") {
                Ext.Msg.prompt('Téléchargement', 'Merci de renseigner votre adresse mail', function(btn, text) {
                  if(btn == 'ok') {
                      Ext.Ajax.request({
                        url: "{{ CARMEN_URL_SERVER_DOWNLOAD }}",
                        method: "POST",
                        params: { "mode": "prodige",
                                  "data_type" : data_type,
                                  "service_idx": service_idx,
                                  "email": encodeValue(text),
                                  "format": format,
                                  "projection": projection,
                                  "data": data,
                                  "metadata_id": metadata_id,
                                  "bTerritoire": bTerritoire,
                                  "territoire_type": territoire_type,
                                  "territoire_data": territoire_data,
                                  "extract_area": extract_area,
                                  "buffer": buffer
                                },
                        success: function(result) {
                             telecharger_delayed_success(result, infoDownload);
                             },
                        failure: function(result) {
                                 telecharger_delayed_failure(result, infoDownload);
                                 }
                      });
                  }
                });
             }
             else {
                 Ext.Ajax.request({
                  url: "{{ CARMEN_URL_SERVER_DOWNLOAD }}",
                  method: "POST",
                  params: { "mode": "prodige",
                      "data_type" : data_type,
                      "service_idx": service_idx,
                      "email": email,
                      "format": format,
                      "projection": projection,
                      "data": data,
                      "metadata_id": metadata_id,
                      "bTerritoire": bTerritoire,
                      "territoire_type": territoire_type,
                      "territoire_data": territoire_data,
                      "extract_area": extract_area,
                      "buffer": buffer
                      },
                  success: function(result) {
                       telecharger_delayed_success(result, infoDownload);
                       },
                  failure: function(result) {
                       telecharger_delayed_failure(result, infoDownload);
                       },
                });
            }
        }

         var bShowTabMajic = true;

    </script>

    <div id="downloadBlock_majic" class="downloadBlock x-hide-display" align="center">
        <div class="sousTitre">
          <span> Données MAJIC </span>
        </div>
        <br/>
        <div align="center">
            <form name="panierDownloadFrontal" method="POST" action="{{ action_panierDownloadFrontal }}">
                <table class="formulaire" border="0">
                    <tr>
                        <th align="right" valign="top"> Format des données </th>
                        <td align="left" valign="top"> MAJIC </td>
                    </tr>
                    <tr style="height:5px;">
                        <th align="right" valign="top">Territoire d'extraction</th>
                        <td align="left" valign="top"> {{ strSelectZonage | raw }} </td>
                    </tr>
                    <tr style="height:5px;">
                        <th align="right" valign="top">Territoire</th>
                        <td align="left" valign="top"> {{ strSelectTerritoire| raw }} </td>
                    </tr>
                </table>
                <input type="hidden" name="LAYERIDTS" value="{{ m_Idts_majic }}">
            </form>
        </div>
        <table align="center">
            <tr>
                <td class="validation" colspan="2" align="center"> <br> {{ btnExécutionDifférée| raw }} </td>
            </tr>
        </table>
        <br>
        <table class="formulaire" align="center" style="border-color:#828177; " border="1" cellpadding="2" cellspacing="0">
            <tr>
                <td align="center" style="font-weight:bold"> Serveur carto </td>
                <td align="center" style="font-weight:bold"> Couche carto </td>
                <td align="center" style="font-weight:bold"> Informations </td>
                <td align="center" style="font-weight:bold"> Etat </td>
            </tr>
            {{ str5 |raw }}
        </table>
    </div>

    <script>document.getElementById('zonage').onchange();</script>

{% else %}
    {{ str6 |raw }}
{% endif %}