<script>
    var layers = {{ infoLayers | json_encode() | raw }};
   /**
    * vérifie l'intégrité des champs du formulaire
    * @return retourne true si tous les champs sont valides, sinon retourne false et affiche un message
    */
    function verifCtrl_raster() {
        if(url_srv_tele == "") {
            Ext.Msg.alert("Serveur de téléchargement", "Impossible d'exécuter le téléchargement direct, l'adresse du serveur de téléchargement est invalide.");
            return false;
        }
        if(document.getElementById("SELECT_FORMAT_raster").value == "" ) {
            Ext.Msg.alert("Format", "Veuillez sélectionner le format des données.");
            return false;
        }
        if(document.getElementById("SELECT_PROJ_raster").value == "") {
            Ext.Msg.alert("Projection", "Veuillez sélectionner la projection des données.");
            return false;
        }
        if(document.getElementById("geom_area_value_raster").value == "") {
            Ext.Msg.alert("Territoire", "Veuillez sélectionner une zone cartographique d'extraction pour les données raster.");
            return false;
        }

        var exp = RegExp("^[0-9-.]+$","g");
        var buffer = document.getElementById("EXTRACT_TOLERANCE_raster").value;

        if(!exp.test(buffer) || buffer < 100 || buffer > 5000) {
            Ext.Msg.alert("Tolérance d'extraction", "Veuillez saisir une valeur de tolérance comprise entre 100 et 5000.");
            return false;
        }

        return true;
    }

   /**
    * effectue l'appel Ajax permettant d'exécuter le téléchargement direct ou différé
    * @param bDirect   booléen indiquant si le téléchargement est direct ou non
    */
    function execute_telecharger_raster(bDirect, is_raster_hr) {

        if(!verifCtrl_raster()) 
          return;

        // mise a jour interface
        var divElt = getElementByIdSrvSuffix(0, "raster");
        if(divElt) 
          divElt.innerHTML = "<table><tr><td valign=\"middle\">En cours de traitement...</td><td><img src=\"/bundles/geosource/images/panier/waiting.gif\"></td></tr></table>";

        var data_type = is_raster_hr ? "raster_hr" : "raster";
        var service_idx = {{ service_idx }};
        var email       = "{{ email }}";
        var format      = document.getElementById("SELECT_FORMAT_raster").value;
        var projection  = document.getElementById("SELECT_PROJ_raster").value;
        var data        = "{{ data }}";
        var metadata_id = "{{ metadata_id }}";
        var bTerritoire     = "1";
        var territoire_type = "";
        var territoire_data = "";
        var extract_area = "" ;
        var buffer = "";

        extract_area = document.getElementById("geom_area_value_raster").value;
        buffer = document.getElementById("EXTRACT_TOLERANCE_raster").value;

        var infoDownload = {
            suffix : "raster",
            idSrv : 0,
            projection : projection,
            format : format,
            infoLayers :  {{ infoLayers | json_encode() | raw }}
        }

        if(bDirect) {
            Ext.Ajax.timeout = timout_tele_direct;  // set timeout
            Ext.Ajax.request({
                url: "{{ CARMEN_URL_SERVER_DOWNLOAD }}",
                method: "POST",
                params: { "mode": "prodige",
                          "data_type" : data_type,
                          "service_idx": service_idx,
                          "email": email,
                          "format": format,
                          "projection": projection,
                          "data": data,
                          "metadata_id": metadata_id,
                          "direct": "{{ params_direct }}",
                          "bTerritoire": bTerritoire,
                          "territoire_type": territoire_type,
                          "territoire_data": territoire_data,
                          "extract_area": extract_area,
                          "buffer": buffer
                },
                success: function(result) {
                    telecharger_success(result, infoDownload);
                },
                failure: function(result) {
                    telecharger_failure(result, infoDownload);
                }
            });
        }
        else {
            if(email == "") {
                Ext.Msg.prompt('Téléchargement', 'Merci de renseigner votre adresse mail', function(btn, text) {
                    if(btn == 'ok') {
                        Ext.Ajax.request({
                            url: "{{ CARMEN_URL_SERVER_DOWNLOAD }}",
                            method: "POST",
                            params: { "mode": "prodige",
                                   "data_type" : data_type,
                                   "service_idx": service_idx,
                                   "email": encodeValue(text),
                                   "format": format,
                                   "projection": projection,
                                   "data": data,
                                   "metadata_id": metadata_id,
                                   "bTerritoire": bTerritoire,
                                   "territoire_type": territoire_type,
                                   "territoire_data": territoire_data,
                                   "extract_area": extract_area,
                                   "buffer": buffer
                            },
                            success: function(result) {
                             telecharger_delayed_success(result, infoDownload);
                            },
                            failure: function(result) {
                             telecharger_delayed_failure(result, infoDownload);
                            }
                        });
                    }
                });
            }
             else {
                Ext.Ajax.request({
                    url: "{{ CARMEN_URL_SERVER_DOWNLOAD }}",
                    method: "POST",
                    params: { "mode": "prodige",
                              "data_type" : data_type,
                              "service_idx": service_idx,
                              "email": email,
                              "format": format,
                              "projection": projection,
                              "data": data,
                              "metadata_id": metadata_id,
                              "bTerritoire": bTerritoire,
                              "territoire_type": territoire_type,
                              "territoire_data": territoire_data,
                              "extract_area": extract_area,
                              "buffer": buffer
                      },
                    success: function(result) {
                        telecharger_delayed_success(result, infoDownload);
                    },
                    failure: function(result) {
                        telecharger_delayed_failure(result, infoDownload);
                    }
                });
            }
        }
    }

  var bShowTabRaster = true;

    function getAreaRaster() {
        // checking if data formathas been chosen
        if(areaLimit == null || document.getElementById("SELECT_FORMAT_raster").value == "")
            Ext.Msg.alert('Extraction raster', 'Avant de sélectionner la zone d\'extraction, vous devez au préalable choisir le format d\'export des données.');
        else {
            layers = {{ infoLayers | json_encode() | raw }};
            //getCartographicArea("carte_extraction_raster.map", "geom_area_value_raster",areaLimit,true);
            TSAjoutDeCarte_Ouvrir(2, "geom_area_value_raster");
        }
    }

</script>

<div id="downloadBlock_raster" class="downloadBlock x-hide-display" align="center">
    <div class="sousTitre">
        <span> Données raster </span>
    </div>
    <br/>
    <div align="center">
        <form name="panierDownloadFrontal_raster" method="POST" action="{{ form_action }}">
            <table class="formulaire" border="0">
                <tr>
                    <th align="right" valign="top"> Format des données </th>
                    <td align="left" valign="top">
                        <input type="text" id="formats_raster" size="50"/>
                        <script>

                            var store = new Ext.data.ArrayStore({
                                fields: ["ext", "format"],
                                data : {{ formats | json_encode() |raw }}
                            });

                            var cbFormat = new Ext.form.ComboBox({
                                store: store,
                                valueField: "ext",
                                displayField:"format",
                                hiddenName: "SELECT_FORMAT_raster",
                                hiddenId: "SELECT_FORMAT_raster",
                                id : "SELECT_FORMAT_raster",
                                forceSelection: true,
                                typeAhead: true,
                                triggerAction: "all",
                                mode: "local",
                                listWidth: 300,
                                emptyText:"Sélectionnez un format",
                                applyTo: "formats_raster",
                                enableKeyEvents : true,
                                plugins: new Ext.ux.plugins.CustomFilterCombo({
                                anyMatch : false,
                                caseSensitive : false
                                }),
                                // hack to force well sizing of combo div...
                                listeners : {
                                    'afterrender' : function(cp) { cp.getEl().parent().setWidth(200); },
                                    'select' : {
                                     fn : function(cb,r,i) {
                                         this.areaLimit = (r.data["format"])=='ECW' ?
                                         this.ecwLimit :
                                         this.gTiffLimit;
                                     },
                                      scope : window
                                    }
                                }
                            });
                        </script>
                    </td>
                </tr>
                <tr>
                    <th align="right" valign="top">Projection des données</td>
                    <td align="left" valign="top">
                        <input type="text" id="projections_raster" size="50"/>
                            <script>
                                var store = new Ext.data.ArrayStore({
                                    fields: ["srid", "projection"],
                                    data : {{ projections | json_encode() |raw }}
                                });
                                var cbProj = new Ext.form.ComboBox({
                                    store: store,
                                    valueField: "srid",
                                    displayField:"projection",
                                    hiddenName: "SELECT_PROJ_raster",
                                    hiddenId: "SELECT_PROJ_raster",
                                    id:"SELECT_PROJ_raster",
                                    forceSelection: true,
                                    typeAhead: true,
                                    triggerAction: "all",
                                    mode: "local",
                                    listWidth: 350,
                                    emptyText:"Sélectionnez une projection",
                                    applyTo: "projections_raster",
                                    enableKeyEvents : true,
                                    plugins: new Ext.ux.plugins.CustomFilterCombo({
                                    anyMatch : false,
                                    caseSensitive : false
                                    }),
                                    // hack to force well sizing of combo div...
                                    listeners : { 'afterrender' : function(cp) { cp.getEl().parent().setWidth(200); } }
                                });
                            </script>
                        </td>
                    </tr>
                </table>
                <table class="formulaire">
                    <tr>
                        <td>
                        <input type="hidden" id="geom_area_value_raster" name="geom_area_value_raster" value="" onchange='fieldUpdate("geom_area_display_raster","Zone définie");'/>
                        <input type="text" id="geom_area_display_raster" name="geom_area_display_raster" value="Pas de zone définie" disabled />
                        </td> 
                        <td><input type="Button" value="Définir la zone d'extraction sur la carte" onclick='getAreaRaster();'/></td>
                    </tr>
                </table>

                <br/>
                <table class="formulaire">
                    <tr>
                        <th align="right" valign="top">Tolérance d'extraction</th>
                        <td align="left" valign="top">
                        <input name="EXTRACT_TOLERANCE_raster" id="EXTRACT_TOLERANCE_raster" type="text" max-length="4" 
                        size="4" value="{{ extract_tolerance }}"> (en mètres) entre 100 et 5000</input>
                        </td>
                    </tr>
                </table>
            <input type="hidden" name="LAYERIDTS_raster" value="{{ m_Idts_raster }}">
        </form>
    </div>
    <table align="center">
        <tr>
            <td class="validation" colspan="2" align="center">
            <br>
            {{ str3 |raw }}
            </td>
         </tr>
    </table>
    <br>
    <table class="formulaire" align="center" style="border-color:#828177; " border="1" cellpadding="2" cellspacing="0">
        <tr>
        <td align="center" style="font-weight:bold"> Serveur carto </td>
        <td align="center" style="font-weight:bold"> Couche carto </td>
        <td align="center" style="font-weight:bold"> Informations </td>
        <td align="center" style="font-weight:bold"> Etat</td>
        </tr>
        {{ str4 |raw }}
    </table>
</div>