<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
    <HEAD>
            <META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=utf-8">
            <TITLE>Paramétrage de la jointure</TITLE>
            <META NAME="" CONTENT="">
            <link rel="stylesheet" type="text/css" href="/Scripts/ext3.0/resources/css/ext-all.css">
            <link rel="stylesheet" type="text/css" href={{ css_file }}>
            <link rel="stylesheet" type="text/css" href="{{ asset('joinbundle/css/silk.css') }}">

            <script  src="/Scripts/ext3.0/adapter/ext/ext-base.js"> </script>
            <script  src="/Scripts/ext3.0/ext-all.js"> </script>
            {# <script  src="/Scripts/extjs-overload-crossdomain.js"> </script> #}
            <script  src="/Scripts/ext3.0/ext-lang-fr.js"> </script>
            
            <script src="{{ asset('joinbundle/js/BufferView.js') }}"></script>
            <script src="{{ asset('joinbundle/js/CheckColumn.js') }}"></script>
            <script src="{{ asset('joinbundle/js/util.js') }}"></script>
            <script src="{{ asset('joinbundle/js/viewUtil.js') }}"></script>
            <script src="{{ asset('joinbundle/js/viewExpressionPanel.js') }}"></script>
            <script src="{{ asset('joinbundle/js/viewFieldVisibilityPanel.js') }}"></script>
            <script src="{{ asset('joinbundle/js/sortDataWindow.ui.js') }}"></script>
            <script src="{{ asset('joinbundle/js/sortDataWindow.js') }}"></script>
            <script src="{{ asset('joinbundle/js/viewEditionPanel.js') }}"></script>
            <script src="{{ asset('joinbundle/js/groupingEditionAddFieldAgregateWindow.ui.js') }}"></script>
            <script src="{{ asset('joinbundle/js/groupingEditionAddFieldAgregateWindow.js') }}"></script>
            <script src="{{ asset('joinbundle/js/groupingEditionPanel.ui.js') }}"></script>
            <script src="{{ asset('joinbundle/js/groupingEditionPanel.js') }}"></script>
            <script src="{{ asset('joinbundle/js/viewManager.js') }}"></script>

            <SCRIPT>
                function init() {
                    Ext.QuickTips.init();
                    var options = { createMode : {{ createMode }},
                                    viewDef : {{ viewDef|raw }},
                                    viewDesc : "{{ viewTitle }}" ,
                                    closeCallbackUrl : '{{ backUrl }}',
                                    renderInWindow : false
                     };
                    Ext.apply(options, {{ urlServices|raw }});
                    vm = new Carmen.ViewManager(options);
                    vm.show();
                }
                Ext.onReady(init);

            </SCRIPT>
    </HEAD>
    <BODY LANG="fr-FR" DIR="LTR"> </BODY>
</HTML>
