<div id ="main_report" hidden=true>
    <h3>Moissonnage DCAT - Rapports d'exécution</h3>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Nom du noeud</th>
            <th scope="col">Date et heure d'exécution</th>
            <th scope="col">Statut</th>
            <th scope="col" class ="link">Accès aux logs d'exécution</th>
          </tr>
        </thead>
        <tbody>
          {% for noeud in nodes %}
              <tr>
                  {% if noeud.node_last_exec is defined %}{% if noeud.node_last_exec is not null %}
                      <td>{{noeud.node_name}}</td>
                      <td id="last_exec{{noeud.pk_node_id}}">{{noeud.node_last_exec}}</td>
                      <td class ="status" id="status{{noeud.pk_node_id}}">{% if noeud.node_last_exec_img_status is defined %}<img class ='image' style="width: 18px;" src="{{ asset(noeud.node_last_exec_img_status) }}">{{noeud.node_last_exec_status}}{%endif %}</td>
                      <td class ="link"><button id="log{{noeud.pk_node_id}}" type="button" class="btn btn-default" onclick="window.open(get_log_file ({{noeud.report_id}}))">Rapport d'exécution</button></td>
                  {%endif %}{%endif %}
              </tr>
          {% endfor %}
        </tbody>
    </table>    
</div>
        
</body>
</html>