<div id ="main_PDM">
    {% include "OpenDataBundle/Default/pannels_actions_results.html.twig" %}
    {% include "OpenDataBundle/Default/pannel_harves_nodes_grid.html.twig" with nodes %}
    <div id ="PDM_params" hidden = true>
        {% include "OpenDataBundle/Default/pannel_global_params.html.twig" with {'nodes':nodes, 'logos':logos} %}
        {% include "OpenDataBundle/Default/pannel_api_config.html.twig" with {'nodes':nodes, 'orage':orga} %}
        {% include "OpenDataBundle/Default/pannel_planification.html.twig" with nodes %}
        <div id ='main_PDM_button'>
            <ul class="list-inline">
                <li> <button type="button" class="btn btn-info" onclick="back_to_liste(); location.href = '#';">Annuler</button> </li>
                <li ><button type="button" class="btn btn-success" onclick="insert_or_patch_node({{nodes|json_encode()}})">Enregistrer la configuration</button></li>
                <li ><button type="button" class="btn btn-success" onclick="insert_or_patch_node({{nodes|json_encode()}}, 'true')">Enregistrer la configuration et exécuter le moissonnage</button></li>
            </ul> 
        </div>
    </div>
</div>                
