<!DOCTYPE html>
<html lang="en">
<head>
    <title>Moissonnage DCAT</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    {% block stylesheets %}
        <link href="{{ asset('opendatabundle/css/opendata.css') }}" type="text/css" rel="stylesheet" />
    {% endblock %}  
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
    {% block scripts %}
        <script src="{{ asset('opendatabundle/js/controls_pannels.js') }}"></script>
        <script src="{{ asset('opendatabundle/js/bootstrap-multiselect.js') }}"></script>
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    {% endblock %}  
    
</head>
<body>

 

<div id="header">    
      <ul class="list-inline" >
        <li class ="header-li"><h2><img class ='image' src="{{ asset('opendatabundle/images/Opendata.png') }}" style = "max-height: 60px"> - Moissonnage DCAT</h2>  </li>
        <li class ="header-li"><h5><button type="button"  onclick = "show_pannel_moissonge()"><i class="fa fa-cogs" style="margin-right: 8px; font-size:16px"></i>Paramétrage du moissonnage</button></h5></li>
        <li class ="header-li"><h5><button type="button"  onclick = "show_pannel_report()"><i class="fa fa-newspaper-o" style="margin-right: 8px; font-size:16px"></i>Rapports d'exécution</button></h5></li>
      </ul>
</div>