{#inclusion header, feuilles de style, js... #}
{% include "OpenDataBundle/Default/header.html.twig" %}

{#inclusion du paramètrage du moissonnage... #}  
{% include "OpenDataBundle/Default/harves_param.html.twig" with {'nodes':nodes,'orga':orga , 'logos':logos} %}


{% include "OpenDataBundle/Default/load_harves.html.twig" with {'nodes':nodes,'orga':orga , 'logos':logos} %}



{#inclusion du reporting du moissonnage... #}                 
{% include "OpenDataBundle/Default/harves_report.html.twig" with nodes %}



