{# empty Twig template #}


<div id ="main_load_harves" hidden = true>
    <div id ="harves_add_or_edit_ok" hidden = true>
        <ul class="list-inline">
            <li class ="header-li"><img class ='image' style="height:20px" src="{{ asset('opendatabundle/images/success.png') }}"></li>
            <li class ="header-li"><p> modifications correctement sauvegardées </p></li>
        </ul>
    </div>
    <div id ="harves_add_or_edit_ko" hidden = true>
        <ul class="list-inline">
            <li class ="header-li"><img class ='image' style="height:20px" src="{{ asset('opendatabundle/images/fail.png') }}"></li>
            <li class ="header-li"><p> modifications non sauvegardées </p></li>
        </ul>
    </div>
            
            
    <div id ="harves_info" >        
        <h3> Moissonnage du noeud <i id ="harves-title"></i> en cours</h3>

        <div id = "load_harves_content">
            <div id ="load-icon">
                <div class="loader"></div>
                <div class = "description"><p>Réception des données de l'api <b id = "harves-subtitle" ></b> 
                    <p><b>Cette opération peut prendre quelques minutes</b>.</p>
                    <p>Un tableau de reporting vous permettra de consulter les ajouts et mises à jours de métadonnées effectués. 
                        Une fois le processus terminé, un fichier de log sera disponible dans l'onglet <b><i>"Rapport d'éxecution"</i></b>.   
                    </p>
                    
                </div>   

            </div>
        </div>
    </div>
            
    <div id ="harves_info_fail" hidden = true>        
        <h3>Echec - le moissonnage du noeud <i id ="harves-title"></i>n'a pas abouti</h3>

                <div class = "description"><p>la réception des données de l'api <b id = "harves-subtitle" ></b> à échouée 
                    <p><b>Veuillez consulter le rapport d'execution</b>.</p>
                </div>   
                <button type="button" class="btn btn-primary" onclick="window.location.reload();">Recharger la page</button>
        </div>
    </div>
        <hr>
</div>
            
<div id = "harves_overview_result" hidden = true>
    <h3>Moissonnage Terminé ! Aperçu du rapport de moissonnage du noeud <i id ="harves-title-report"></i>     
        {% for logo in logos %}
            <img class = "harves_report_logo" id ="{{ logo.path }}" src="{{ asset(logo.path) }}" alt="" hidden=true>
        {% endfor %} 
        
        
    </h3>
                    
                
    <div class ="content">
        <div style="text-align:right; width:100%; padding:0;">
            <button type="button" class="btn btn-primary" style="padding:0;" onclick ="close_harves_overview();window.location.reload();location.href = '#'">Fermer</button>
        </div>        
       
        <p> statut : <b id="harves_overview_status"></b></p>
        <p> code de retour : <b id="harves_overview_http_code"></b></p>
        <p> heure de fin d'éxecution : <b id="harves_overview_finish_time"></b></p>
        <p> message : <b id="harves_overview_message"></b></p>
        <p> adressse de l'api :  <b><i id="harves_overview_result_url_api"></i></b></p>
        <p> adressse du point d'accès aux données :  <b><i id ="harves_overview_result_url_dcat"></i></b></p>

        
        <!--<p> requête http générée : <i><b id="harves_overview_data_request_url"></b></i></p>-->
        <hr>
        <p> nombre de fiches détectées : <b id="harves_overview_data_count"></b></p>
        <p> nombre de fiches moissonnées : <b id="harves_overview_data_count_success"></b></p>
        <p> nombre de fiches créées : <b id ="harves_overview_data_count_insert"></b></p>
        <p> nombre de fiches mises à jours : <b id ="harves_overview_data_count_update"></b></p>
        <p> nombre de fiches ignorées : <b id ="harves_overview_data_count_ignore"></b></p>

        <hr>
        <p> Pour plus d'informations consulter le fichier de log, ce fichier est accessible sous l'onglet <b><i>Rapport d'exécution</i>. </p>

    </div>
</div>
