<div id ="main_PDM_planif">
    <h4>
        <img class ='image' src="{{ asset('opendatabundle/images/Expand.png') }}" onclick ="hide_pannel_planifI()"> Planification
    </h4>
    <div id = "main_PDM_planif_contents">
        <div id ="contents">
            <div class="form-group">
                <label for="ExecFrequencePeriod">Fréquence d'exécution *</label>
                    <select class="form-control" id="ExecFrequencePeriod" onchange ="show_exec_day()" required style="border-color: #B5E655" >
                        <option>quotidienne</option>
                        <option>hebdomadaire</option> 
                    </select>
                    <div id ="ExecFrequenceDayPannel" hidden = true>
                        <label for="FormControlSelectExecDay">Jour d'exécution :</label>
                        <select class="form-control" id="FormControlSelectExecDay" onload="change_input_border_color(this.id)" style="border-color: #B5E655">
                            <option value ='1'>lundi</option>
                            <option value ='2'>mardi</option>
                            <option value ='3'>mercredi</option>
                            <option value ='4'>jeudi</option>
                            <option value ='5'>vendredi</option>
                            <option value ='6'>samedi</option>
                            <option value ='7'>dimanche</option>
                        </select>
                    </div>
                    <label for="exampleFormControlSelect2">Heure d'exécution *</label> 
                    <div class="form-group">
                        <div class='input-group date' id='datetimepicker3'>
                            <input id="planif_hour" value="00:00" type='time' data-format="hh:mm:ss"  class="form-control" required style="border-color: #B5E655"/>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>