<div id ="main_PDM_API">
    <h4>
        <img class ='image' src="{{ asset('opendatabundle/images/Expand.png') }}" onclick ="hide_pannel_param_API()"> Paramétrage API
    </h4>
    <div id = "main_PDM_API_contents">
        <div id ="contents">
            <div class="form-group">
                <label>URL de l'API *</label>
                <input id ="API_url" type="txt" class="form-control" placeholder ="https://" required style="border-color: orange" onkeydown="change_input_border_color(this.id)" onfocusout="change_input_border_color(this.id)">
                <label>URL des métadonnées DCAT *</label>
                <input id ="URL_DCAT" type="txt" class="form-control" placeholder ="https://" required style="border-color: orange" onkeydown="change_input_border_color(this.id)" onfocusout="change_input_border_color(this.id)" >                
                <div id="affiche_filtres" hidden=true>
                    {% if nodes is defined %}
                        {% for noeud in nodes %}
                            {% if noeud.node_params is defined %}
                                {% set params = noeud.node_params %}
                                {% for current_param in params %}

                                    <div id ="{{ current_param.fk_id }}SelectParamsListe{{ current_param.pk_id }}" style="padding-top:5px" hidden=true>
                                    {% if current_param.key == "organization" %}
                                        <label for="FormControlSelecOrganisation{{ asset(current_param.pk_id) }}">Filtrer par organisations  </label> 
                                            <input type='text'  id="selection_orga_master" class="form-control" placeholder ="rechercher une organisation" onkeyup="reload_select_orga({{noeud.pk_node_id}}, {{orga|json_encode()}}, {{current_param.value|json_encode()}})"/>
                                            <select class="form-control" id="{{noeud.pk_node_id}}FormControlSelecOrganisation" placeholder ="{{current_param.key}} recherché(e)"  multiple style="min-height:200px">      </li>  
                                                {%for structure in orga %}
                                                    <option id= "orgas_{{structure.id}}" value = "{{structure.id}}">{{structure.name}}</option>
                                                {% endfor %}
                                            </select>                                    
                                    {% else %}



                                        <label> Filtre actif :  {{current_param.key}} </label> 
                                        <ul class="list-inline">
                                            <li><label> clé  :</label> </li><li><input type ="text" class="form-control" value = {{current_param.key}} ></li>
                                            <li><label> valeur  :</label> </li><li><input type ="text" class="form-control" value = {{current_param.value }} ></li>
                                            <li class="select-action" ><img class ='image' tooltip ="supprimer ce critère" src="{{ asset('opendatabundle/images/fail.png') }}" onclick ="remove_url_param({{current_param.pk_id}}, {{ current_param.fk_id }})"></li>
                                        </ul>
                                    {% endif %}    
                                        <div style ="margin-left:4%">
                                            <div id ="{{ current_param.fk_id }}NewValueDiv{{ current_param.key }}" hidden=true>
                                                <ul class="list-inline">
                                                    <li> <label > Nouvelle valeur(s) possible(s) du paramètre: <i class ="param_key">{{current_param.key}} </i></label>  </li>
                                                    <li> <button type="button" class="btn btn-success" onclick = "add_new_param_value({{ current_param.fk_id }},'{{ current_param.key }}')">Ajouter</button> </li>
                                                    <li> <button type="button" class="btn btn-warning" onclick = "hide_api_new_param_value({{ current_param.fk_id }},'{{ current_param.key }}')">Annuler</button> </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    </div>
                <div id="affiche_filtres_orga" >
                        <div id ="NewSelectParamsListe" style="padding-top:5px" >
                            <label for="NewFormControlSelecOrganisation">Filtrer par organisations   </label> 
                            <input type='text'  id="selection_orga_master" class="form-control" placeholder ="rechercher une organisation" onkeyup="{empty_select_orga({{orga|json_encode()}}, this.value)}"/>
                            <select class="form-control" id="NewFormControlSelecOrganisation" placeholder =""  multiple style="min-height:200px">      </li>  
                                {%for structure in orga %}
                                    <option id= "orga_{{structure.id}}" value = "{{structure.id}}">{{structure.name}}</option>
                                {% endfor %}
                            </select>                            
                        </div>
                </div>
                
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1" onchange="check()">
                    <label class="form-check-label" for="exampleCheck1">Ajouts de paramètres / Filtrer les résultats</label>
                </div>                
                <div id="hidded_pan" hidden = 'true'>
                    <div id="hidded_pan_contents">
                        <ul class="list-inline" id = "liste1">
                            <li><label>Clé :</label></li><li><input type='text' id="param_key" class="form-control" placeholder ="key"/></li>
                            <li><label>Valeur :</label></li><li><input type='text' id="param_value" class="form-control" placeholder ="value"/></li>
                            <li><label><i>Pour lister les valeurs possibles, séparer celles-ci par des virgules ex "rouge, verte,bleue"</i></label></li>
                        </ul>
                    </div>
                    <ul class="list-inline" id="control_buttons">
                        <li><button type="button" class="btn btn-info" id="add_value_key" onclick="add_elements()"><img class ='image' src="{{ asset('opendatabundle/images/plus.png') }}">Ajouter un ensemble de clé valeur</button></li>
                    </ul>                
                </div> 
                <div id ="affiche_last_execution" hidden=true>
                    <label for="datetimepicker1">Date de dernière modification :</label>    
                    <input id="last_modif" type='text' class="form-control" disabled=true/>
                </div>
            </div>
        </div>
    </div>
</div>