<div id ="DCAT_liste">
    <h3>Moissonnage DCAT - Liste des noeuds de moissonnage DCAT</h3>
    <table class="table">
        <thead>
            <tr>
              <th scope="col">Nom du noeud</th>
              <th scope="col">URL de l'API</th>
              <th scope="col">Date de dernière modification</th>
              <th scope="col" class ="link">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% set newArray = [] %}
            {% for noeud in nodes %}
                {% if noeud.node_logo not in newArray %}
                   {% set newArray = newArray|merge([noeud.pk_node_id,noeud.node_logo]) %}
                {% endif %}
                <tr>
                <td>{{noeud.node_name}}</td>
                <td class ="status"><a onclick="window.open('{{asset(noeud.api_url)}}')">{{noeud.api_url}}</a></td>
                <td>{% if noeud.node_last_modification is defined %}{{noeud.node_last_modification}}{% endif %}</td>
                <td class ="link">
                    <ul class="list-inline">
                        <li><button type="button" id="edit_{{noeud.pk_node_id}}" class="btn btn-primary" onclick="open_PDM_params({{newArray|json_encode()}},{{noeud|json_encode()}}, {{orga|json_encode()}}, {{noeud|json_encode()}})">Editer</button></li>
                        <li><button type="button" id ="del_{{noeud.pk_node_id}}" class="btn btn-danger" onclick="remove_node({{noeud.pk_node_id}})">Supprimer</button></li>
                    </ul>        
                  </td>
                </tr>
            {% endfor %}
          </tbody>
    </table>    
    <div>           
        <button id="button_add_node" type="button" class="btn btn-success" onclick="open_PDM_params()"><img class ='image' src="{{ asset('opendatabundle/images/plus.png') }}">Ajouter un noeud de moissonnage</button>
        <hr>
    </div>
</div>