<h3>Moissonnage DCAT - Paramétrage du moissonnage</h3>
<div id ="main_PDM_general">
    <h4> <img class ='image' src="{{ asset('opendatabundle/images/Expand.png') }}" onclick ="hide_pannel_param_general()"> Paramétrage général</h4>
    <div id = "main_PDM_general_contents">
        <div id ="contents">
            <div class="form-group">
                <div hidden=true> 
                    <input id ="node_id" type="txt" class="form-control"  > 
                </div>
                <label for="exampleInputEmail1">Nom du catalogue *</label>    
                <input id ="catalogue_name" type="txt" class="form-control" placeholder ="Nom" required style="border-color: orange" onkeydown="change_input_border_color(this.id)">
                <label for="exampleInputEmail1">Logo du catalogue</label>        
                <div class="row">
                    {% for logo in logos %}
                        <div  class="col-md-4">
                            <div id="logo{{ asset(logo.path) }}" class="thumbnail" onclick="set_active_logo(this.id )" style="border-width:thick;border-color:white;padding-top:10px; padding-bottom: 10px">
                                <a href="#catalogue_name"  tooltip="choisir ce logo">
                                    <img src="{{ asset(logo.path) }}" style ="width:50px; height:50px" alt="">
                                </a>
                            </div>
                            <i class="thumbnail" style="width: 100%;text-align:center; color: #797B7A">
                                <p id ="logo{{ asset(logo.path) }}label"> logo disponible </p>
                            </i>
                        </div>
                    {% endfor %}
                </div>                
            </div>
        </div>
    </div>
</div>