<div id ="add_or_edit_ok" hidden = true>
    <ul class="list-inline">
        <li class ="header-li"><img class ='image' src="{{ asset('opendatabundle/images/success.png') }}"></li>
        <li class ="header-li"><p> modifications correctement sauvegardées </p></li>
    </ul>
    <p> La page se recharchera automatiquement dans 2 sec</p>
</div>
<div id ="add_or_edit_ko" hidden = true>
    <ul class="list-inline">
        <li class ="header-li"><img class ='image' src="{{ asset('opendata/images/fail.png') }}"></li>
        <li class ="header-li"><p> modifications non sauvegardées </p></li>
    </ul>
    <p> La page se recharchera automatiquement dans 2 sec</p>
</div>