body { 
  background-color:#ffffff;
  margin:0 0 0 0;
  font-size:10pt;
  font-family: tahoma,arial,helvetica;
}

H2 {
  font-size:14pt; 
  margin:10px 5px 10px 5px;
}
.titre  {
  top:5px; 
  width:100; 
  font-size:14pt; 
}

.errormsg {
  top:50px; 
  width:100%; 
  z-index:50; 
  color:red; 
  font-size:12pt; 
  font-weight:bold; 
  text-align:center;
}

.formulaire {
  top:70px; 
  left:80px; 
  border:0px solid black; 
  overflow:hidden; 
  z-index:10;
}

.formulaire TABLE {
  border-collapse:collapse; 
  color:black; 
  font-size:10pt; 
  height:100%; 
}

.formulaire TR {
  height:35px;
}

.formulaire TH  {
  text-align:right; 
  padding-right: 10px; 
  font-weight:bold;
  width:200px
}

.formulaire TD {
  text-align:left;
  width: 200px
}

.formulaire SELECT {}

.formulaire .validation{
  text-align:center
}

.lock {
  background-0color:#dbdbdb; 
  color: #666666;
}

INPUT, SELECT, TEXTAREA, .formulaire  INPUT, .formulaire  SELECT  {
/*
  border:1px solid #eee;
  background-color:white;
  cursor:pointer;
*/
}

.cmd INPUT, .validation INPUT, .back INPUT {
  background-color:#333333;
  border:1px solid #666666;
  color:#FFFFFF;
  font-size: 13px;
  padding: 2px 5px;
  cursor: pointer;
}
.etat {
  color:#333333; 
  display:block;
}

.liste  {
  position:relative; 
  width:100%; 
  height:100%;
  z-index:5; 
  color:#333333;
}
.carteprojet  {
  background-color: #e5f2d3;
  padding:5px; 
  font-size:8pt; 
  margin:10px;
}
H4  {
  font-size:13px; 
  font-weight:bold; 
  color:#333333;
  margin:2px 0px 7px 0px;
  cursor:pointer;
  background-image:url("/cartepersobundle/images/puce_h3.gif");
  background-repeat: no-repeat;
  background-position: left 5px;
  padding-left: 10px;
}

.cmd  {
  position:relative; 
  float: right;
}

.cmd a {
  background-color:#333333;
  border:1px solid #666666;
  color:#FFFFFF;
  text-decoration: none;
  font-size: 13px;
  padding: 2px 5px;
}