body	{
	overflow:hidden;margin:0 0 0 0; 
	font-family: {{ constant('PRO_FONT_FAMILY')|raw }};
	height:100%; width:100%; 
	background-color:#FFFFFF;
}

.logo {
 float:left;
 position:relative; 
 top:0px; left:0px; 
 z-index:100;  
 height:76px;
}

.logo  IMG {
 height:76px;
}
.logo_right {
 float:right;
 position:relative; 
 top:0px; 
 right:0px; 
 z-index:100; 
 height:76px;
}
.logo_right   IMG { 
 height:76px;
}
 
.bandeau              {
  position:absolute; 
  top:0px; 
  left:0px; 
  z-index:3; 
  height:80px; 
  width:100%;  
  background:url("/images/bandeaux/{{ constant('PRO_TOP_IMAGE')|raw }}");
  repeat-x; 
  color: #{{ constant('PRO_COLOR_TEXT')|raw }};
}

.bandeau H1 {
 text-align:center; 
 font-family:{{ constant('PRO_FONT_FAMILY')|raw }}; 
 margin-top:8px; 
 font-size:24pt;
}

.bandeau H2 {text-align:center; 
 font-family:{{ constant('PRO_FONT_FAMILY')|raw }};
 font-size:10pt; 
 margin-top:-18px;
}

.back {
  background-color:{{ constant('PRO_COLOR_TEXT')|raw }};
  border:1px solid #666666;
  color:#FFFFFF;
  font-family:{{ constant('PRO_FONT_FAMILY')|raw }};
  cursor: pointer;
}

.volet {
 position:absolute; top:0px; left:0px; z-index:1; height:100%; width:125px; background:url("/images/volets/{{ constant('PRO_VOLET_URL')|raw }}") repeat-y}

 
.chargement_en_cours    {position:absolute; top:50%; left:40%; width:400px; z-index:80; text-align:center; font-family: {{ constant('PRO_FONT_FAMILY')|raw }}; font-size:24pt; border:0px solid black}
.chargement_en_cours td   {background-color:#EEF3F9;padding:10px; z-index:80000;border:1px solid black;}
.chargement_en_cours_hide   {display:none}

.principal       { position:relative;
                          height:100%;
                          z-index:50; background:transparent none no-repeat center center; }


.principal .catalogue    {position:absolute; top:0px; left:0px; width:100%; height:100%; z-index:70}
.principal .recherche    {position:absolute; top:0px; left:0px; width:100%; height:100%; z-index:71}
.principal .connexion    {position:absolute; top:0px; left:0px; width:100%; height:100%; z-index:72}
.principal .consultation   {position:absolute; top:0px; left:0px; width:100%; height:100%; z-index:73}
.principal .administration   {position:absolute; top:0px; left:0px; width:100%; height:100%; z-index:74}
.principal .aide     {position:absolute; top:0px; left:0px; width:100%; height:100%; z-index:75}
*html .principal  .aide         {position:fixed; top:0px; left:0px; width:100%; height:100%; z-index:75}

.principal .catalogue_hide   {display:none; z-index:60}
.principal .recherche_hide   {display:none; z-index:61}
.principal .connexion_hide   {display:none; z-index:62}
.principal .consultation_hide  {display:none; z-index:63}
.principal .administration_hide {display:none; z-index:64}
.principal .aide_hide    {display:none; z-index:65}
.principal .fenetre_catalogue  {position:absolute; top:0px; left:0px; width:100%; height:100%}
.principal .fenetre_recherche  {position:absolute; top:0px; left:0px; width:100%; height:100%}
.principal .fenetre_connexion  {position:absolute; top:0px; left:0px; width:100%; height:100%}
.principal .fenetre_consultation {position:absolute; top:0px; left:0px; width:100%; height:100%}
.principal .fenetre_administration {position:absolute; top:0px; left:0px; width:100%; height:100%}
.principal .fenetre_aide   {position:absolute; top:0px; left:0px; width:100%; height:100%}
.principal .fenetre    {width:100%; height:100%;
                             /*
                             #height:expression((screen.height-280)+'px')|raw;
                      _height:expression((screen.height-280)+'px')|raw;
                             #width:expression((screen.width-160)+'px')|raw;
                      _width:expression((screen.width-160)+'px')|raw;
                             */
                             z-index:70}


.infosbulle_hide     {display:none}
.infosbulle_show     {position:absolute; border:1px solid black; background-color:#ffffc0; z-index:1000; padding:2px 4px 2px 4px; margin-top:-10px; margin-left:10px; font-family:{{ constant('PRO_FONT_FAMILY')|raw }}; font-size:8pt}


#global {position:absolute;top:85px;left:130px; right:0px;bottom:0px; }


.serveur_sync      {display:none/*position:absolute;top:500px; left:0px;*/}
#loading-mask {
  position: absolute;
  left:     0;
  top:      0;
  width:    100%;
  height:   100%;
  z-index:  20000;
  background-color: white;
}
 
#loading {
  position: absolute;
  left:     48%;
  top:      50%;
  padding:  5px;
  z-index:  20001;
  height:   auto;
  margin:   -35px 0 0 -30px;
  background-color:{{ constant('PRO_COLOR_BACK')|raw }};
  border:2px solid #666666;
  visibility : hidden;
}

#selectdomain {
  position: absolute;
  left:     48%;
  top:      50%;
  padding:  5px;
  z-index:  20001;
  height:   auto;
  margin:   -35px 0 0 -30px;
  background-color:{{constant('PRO_COLOR_BACK')|raw}};
  border:2px solid #FF0000;
  font-family:{{constant('PRO_FONT_FAMILY')|raw}};
  font-size : 13px;
  visibility : hidden;
}
 
#loading .loading-indicator {
  background: url(../images/loading.gif) no-repeat;
  color:      {{ constant('PRO_COLOR_TEXT')|raw }};
  font:       bold 13px tahoma,arial,helvetica;
  padding:    0px 22px;
  margin:     0;
  text-align: center;
  height:     auto;
}


.onover {
  background-color : #{{ constant('PRO_CARTO_COLOR_LIGHT')|raw }};
}

.x-resizable-pinned .x-resizable-handle {
  opacity:0;
  filter : alpha(opacity=0); 
}