body { 
 background-color:#ffffff;
 margin:0 0 0 0;
 font-family:{{constant('PRO_FONT_FAMILY') }}; 
}

.administration_utilisateur {
 border:0px solid black; 
 overflow:hidden; 
 margin-top:24px; 
 z-index:10;
}

.administration_utilisateur TABLE  {
 border-collapse:collapse; 
 color:black; 
 font-family:{{constant('PRO_FONT_FAMILY') }}; 
 font-size:10pt; 
 height:100%; 
}

.administration_utilisateur TR {
 height:35px;
}

.administration_utilisateur TH {
 color:{{constant('PRO_COLOR_TEXT') }}; 
 text-align:right; 
 font-weight:bold; 
 padding-right: 
 10px;
}

.administration_utilisateur TD {
 color:#15428B; 
 text-align:left;
}

.x-tree-node-el.typeaccesconsult {
  text-align:initial !important;
}
.x-tree-node-el.typeaccesadmin {
  text-align:initial !important;
}

.typeaccesconsult {
  font-size:9px;
  font-family:{{constant('PRO_FONT_FAMILY') }};
  text-align:center;
  background-color:#fbd096
}
.typeaccesadmin   {
  text-align:center;
  background-color:#e15c5c;
  font-family:{{constant('PRO_FONT_FAMILY') }}; 
  font-size:9px; 
}

.errormsg {
 position:absolute; 
 top:10px; 
 width:100%; 
 z-index:50; 
 color:red; 
 font-family:{{constant('PRO_FONT_FAMILY') }}; 
 font-size:12pt; 
 font-weight:bold; 
 text-align:center
}

.lock {
 background-color:#dbdbdb; 
 color: #666666;
}

INPUT, SELECT, TEXTAREA   {
 border:1px solid {{constant('PRO_COLOR_TEXT') }};
 background-color:{{constant('PRO_COLOR_BACK') }};
 font-family:{{constant('PRO_FONT_FAMILY') }};
}

.validation INPUT, .back INPUT {
  background-color:{{constant('PRO_COLOR_TEXT') }};
  border:1px solid #666666;
  color:#FFFFFF;
  font-family:{{constant('PRO_FONT_FAMILY') }};
}


div#resume_catalogue_compte{

  padding: 20px;
  float:left;
  font-size:11px;
  color: #333333;
  font-weight:normal; 
  width:95%;
}

.tableau {
 padding:5px;
 width:100%
}

div.separateur{
  clear: both;
}

.rubric { 
  font-family:{{constant('PRO_FONT_FAMILY') }}; 
  font-size:9pt; 
  font-weight: bold; 
  background-image:url("/Scripts/ext3.0/resources/images/default/tree/folder.gif");
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 20px;  
}

.domaine      {
  font-size:9pt; 
  font-weight:bold;
  background-image:url("/images/domaines.gif");
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 22px;
}

.sousdomaine    {
  font-size:9pt; 
  font-weight:bold;
  background-image:url("/Scripts/ext3.0/resources/images/default/tree/leaf.gif");
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 22px; 
}

H2  {
  font-family:{{constant('PRO_FONT_FAMILY') }}; 
  font-size:14pt; 
  color: {{constant('PRO_COLOR_TEXT') }}; 
  margin:10pt; 
  font-weight: bold;
}

.resume       
{ 
  padding: 20px;
  float:left;
  font-size:11px;
  width:95%;
}

.puce1{
  list-style-position:inside;
  margin-bottom:5px;
  padding-left:10px
}
