.onglets       { height:35px; color:black; font-family:{{ constant('PRO_FONT_FAMILY')|raw }} ; font-size:10pt; font-weight:bold; z-index:90; cursor:pointer; background-color:transparent;}

.onglets .catalogue,    
.onglets .recherche,    
.onglets .consultation,  
.onglets .administration, 
.onglets .connexion,    
.onglets .deconnexion   {float:left; padding:3px; padding-left:15px; padding-right:15px; text-align:center; border-style:solid; border-width:1px; margin-right:1px; border-color:#cccccc #888888 #888888 #cccccc; background-color:white}
.onglets .aide       {float:right; padding:3px; padding-left:15px; padding-right:15px; text-align:center; border-style:solid; border-width:1px; margin-right:1px; border-color:#cccccc #888888 #888888 #cccccc; background-color:white}
* html .onglets  .aide      {float:right;
                          padding:3px; padding-left:15px; padding-right:15px; text-align:center; border-style:solid; border-width:1px; margin-right:1px; border-color:#cccccc #888888 #888888 #cccccc; background-color:white}



.onglets .catalogue_sel,
.onglets .recherche_sel,
.onglets .consultation_sel,
.onglets .administration_sel,
.onglets .connexion_sel,
.onglets .deconnexion_sel  {float:left; padding:3px; padding-left:15px; padding-right:15px; text-align:center; background-color:yellow; z-index:92; border-style:solid; border-width:1px; margin-right:1px; border-color:#cccccc #ff0000 #ff0000 #cccccc}
.onglets .aide_sel      {float:right; padding:3px; padding-left:15px; padding-right:15px; text-align:center; background-color:yellow; z-index:91; border-style:solid; border-width:1px; margin-right:1px; border-color:#cccccc #ff0000 #ff0000 #cccccc}

.onglets .catalogue_over,
.onglets .recherche_over,
.onglets .consultation_over,
.onglets .administration_over,
.onglets .connexion_over,
.onglets .deconnexion_over  {float:left; padding:3px; padding-left:15px; padding-right:15px; text-align:center; z-index:92; border-style:solid; border-width:1px; margin-right:1px; border-color:#cccccc #888888 #888888 #cccccc;}
.onglets .aide_over     {float:right; padding:3px; padding-left:15px; padding-right:15px; text-align:center; z-index:91; border-style:solid; border-width:1px; margin-right:1px; border-color:#cccccc #888888 #888888 #cccccc;}

.onglets .consultation_hide,
.onglets .administration_hide,
.onglets .connexion_hide,
.onglets .deconnexion_hide  {display:none}