{% extends 'WebBundle/layout.html.twig' %}

{% block content %}
    <div class="jumbotron text-center">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <div class="thumbnail">
                    <img src="{{ asset('/bundles/prodigeprodige/images/logo-client.png') }}" alt="prodige" style="max-width:320px;">
                </div>
                <h2>{{ prodige_title }} {{ prodige_version }}<br/><small>{{ prodige_subtitle }}</small></h2>
                <h3>{{ prodige_site_name }}</h3>
                <p></p>
                <p><a class="btn btn-primary btn-lg" href="{{ geonetwork_url|default('#') }}" role="button">{{ prodige_catalog }}</a></p>
            </div>
        </div>
    </div>
{% endblock %}