{% extends 'WebBundle/layout.html.twig' %}

{% block content %}
    {% if error|default(false) %}
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <p class="alert alert-danger"><i class="fa fa-warning"></i> <strong>Erreur</strong><br/>{{ error }}</p>
            </div>
        </div>
    {% else %}
        {% if warning|default(false) %}
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <p class="alert alert-warning"><i class="fa fa-warning"></i> <strong>Erreur</strong><br/>{{ warning }}</p>
            </div>
        </div>
        {% endif %}
        <div class="row">
            <div class="col-md-12 text-center">
                <h4>Veuillez saisir votre nouveau mot de passe</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-lg-offset-5 col-sm-6 col-sm-offset-3">
                <form method="POST">
                    <div class="form-group">
                        <label for="IDENTIFIANT">Identifiant</label>
                        <input type="text" class="form-control" id="IDENTIFIANT" name="IDENTIFIANT" required="required" readonly="readonly" value="{{ user['usr_id'] }}">
                    </div>
                    <div class="form-group">
                        <label for="CHGMOTDEPASSE2">Mot de passe</label>
                        <input type="password" class="form-control" id="CHGMOTDEPASSE2" name="CHGMOTDEPASSE2" required="required">
                    </div>
                    <div class="form-group">
                        <label for="CHGMOTDEPASSE3">Confirmer le mot de passe</label>
                        <input type="password" class="form-control" id="CHGMOTDEPASSE3" name="CHGMOTDEPASSE3" required="required">
                    </div>
                    <button type="submit" class="btn btn-primary pull-right">Valider</button>
                </form>
            </div>
        </div>
    {% endif %}
{% endblock %}