{% extends 'WebBundle/layout.html.twig' %}

{% block navbar %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <p></p>
        <p class="alert alert-success"><i class="fa fa-check"></i> <strong>Succès</strong><br/>Vous allez recevoir prochainement par messagerie vos nouveaux paramètres de connexion</p>
        <p class="text-center">
            <a class="btn btn-default" href="javascript:window.close();">Fermer cette fenêtre</a>
        </p>
    </div>
</div>
{% endblock %}