{% extends 'WebBundle/layout.html.twig' %}

{% block navbar %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12 text-center">
        <h4>Vous avez oublié votre mot de passe ? merci d'indiquer ci-dessous votre identité :</h4>
    </div>
</div>
{% if warning|default(false) %}
<div class="row">
    <div class="col-md-12">
        <p class="alert alert-warning"><i class="fa fa-warning"></i> <strong>Erreur</strong><br/>{{ warning }}</p>
    </div>
</div>
{% endif %}
<div class="row">
    <div class="col-lg-2 col-lg-offset-5 col-sm-6 col-sm-offset-3">
        <form method="POST">
            <div class="form-group">
                <label for="usr_login">Identifiant</label>
                <input type="text" class="form-control" id="usr_login" name="usr_login" required="required" value="{{ usr_login|default() }}">
            </div>
            <div class="form-group">
                <label for="usr_email">Courriel</label>
                <input type="email" class="form-control" id="usr_email" name="usr_email" required="required" value="{{ usr_email|default() }}">
            </div>
            <div class="form-group">
                <label for="captcha">Code de sécurité</label>
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-default" onclick="javascript:refreshCaptcha();" type="button" title="Cliquez sur l'image pour générer un nouveau code.">
                            <img src="{{ path('catalogue_geosource_captcha', {'rand':random(1000000000)}) }}" id="captchaimg">
                        </button>
                    </span>
                    <input type="text" class="form-control" id="captcha" name="captcha" required="required">
                </div>
            </div>
            <div class="form-group pull-right">
                <button type="submit" class="btn btn-primary">Valider</button>
                <a class="btn btn-default" href="javascript:window.close();">Annuler</a>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
function refreshCaptcha() {
    var captchaimg = document.getElementById('captchaimg');
    var rand = String(Math.round(Math.random()*1000000000));
    captchaimg.src = '{{ path('catalogue_geosource_captcha') }}?rand='+rand;
}
</script>                                
{% endblock %}