{% extends 'WebBundle/layout.html.twig' %}

{% block head %}
{{ parent() }}
{% endblock %}

{% block content %}
{% if error|default(false) %}
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <p class="alert alert-danger"><strong>Erreur</strong><br/>{{ error }}</p>
    </div>
</div>
{% else %}
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <p class="alert alert-success"><i class="fa fa-check"></i> <strong>Succès</strong><br/>Vos identifiants de connexion ont été modifés avec succès !</p>
        <p class="text-center">
            {% if PRO_INCLUDED %}
              <a class="btn btn-default" href="{{ URL_BASE }}">Retour au site</a>
            {% else %}
              <a class="btn btn-default" href="{{ PRO_GEONETWORK_URLBASE }}">Retour au catalogue</a>
            {% endif %}
        </p>
    </div>
</div>
{% endif %}
{% endblock %}