/**
 * Fichier CSS
 * @author Alkante
 */

body { 
	background-color:#ffffff;
	margin:0 0 0 0;
	font-family:{{ PRO_FONT_FAMILY }}; 
  font-size:10pt;
}

H2 {
	font-size:14pt; 
	margin:10px 5px 10px 5px;
}
.titre	{
	top:5px; 
	width:100; 
  font-size:14pt; 
  color: {{ PRO_COLOR_TEXT|raw }}; 
}

.errormsg	{
	top:50px; 
	width:100%; 
	z-index:50; 
	color:red; 
	font-family:{{ PRO_FONT_FAMILY }}; 
	font-size:12pt; 
	font-weight:bold; 
	text-align:center;
}

.formulaire {
	top:70px; 
	left:80px; 
	border:0px solid black; 
	overflow:hidden; 
	z-index:10;
}

.formulaire	TABLE {
  border-collapse:collapse; 
  color:black; 
  font-family:{{ PRO_FONT_FAMILY }}; 
  font-size:10pt; 
  height:100%; 
  width:100%;
}

.formulaire	TR {
	height:35px;
}

.formulaire	TH	{
	color:{{ PRO_COLOR_TEXT|raw }}; 
  text-align:right; 
  padding-right: 10px; 
  font-weight:bold;
}

.formulaire	TD {
  color:{{ PRO_COLOR_TEXT|raw }}; 
  text-align:left;
}

.formulaire	SELECT {}

.formulaire	.validation{
	text-align:center
}

.lock {
	background-0color:#dbdbdb; 
	color: #666666;
}

.setdomsdom {
  right:5px;
  position:absolute;
  width:150px;
}

.typeaccesconsult {
  font-size:9px;
  font-family:{{ PRO_FONT_FAMILY }};
  text-align:center;
  background-color:#fbd096
}
.typeaccesadmin   {
  text-align:center;
  background-color:#e15c5c;
  font-family:{{ PRO_FONT_FAMILY }}; 
  font-size:9px; 
}
/*
INPUT, SELECT, TEXTAREA, .formulaire  INPUT, .formulaire  SELECT  {
	border:1px solid {{ PRO_COLOR_TEXT|raw }};
	background-color:{{ PRO_COLOR_BACK|raw }};
	font-family:{{ PRO_FONT_FAMILY }}; 
	cursor:pointer
}

.validation INPUT, .back INPUT {
  background-color:{{ PRO_COLOR_TEXT|raw }};
  border:1px solid #666666;
  color:#FFFFFF;
  font-family:{{ PRO_FONT_FAMILY }};
}
*/