/**
 * Feuille de style CSS
 * @author Alkante
 */

body { 
  background-color:#ffffff;
  margin:0 0 0 0;
  font-family:{{ PRO_FONT_FAMILY }}; 
  font-size:10pt; 
  width:98%;
}

H2 {
  font-size:13pt; 
  margin:10px 5px 10px 5px
}

.titre  { 
  width:100%;
  font-size:14pt; 
  color:{{ PRO_COLOR_TEXT|raw }};  
}

H3 {
  color: {{ PRO_COLOR_TEXT_LIGHT|raw }}; 
  font-size:10pt; 
  margin: 30px 5px 10px 10px;
  background-image:url("/Scripts/extjs/resources/images/default/tree/leaf.gif");
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 20px;  
}

H4 {
  font-size:13px; 
  font-weight:bold; 
  color: {{ PRO_COLOR_TEXT_LIGHT|raw }}; 
  margin:0px 0px 7px 0px;
}
 
.cmd  {
  position:relative; 
  float: right;
}

INPUT, SELECT, TEXTAREA   {
  border:1px solid {{ PRO_COLOR_TEXT|raw }}; 
  background-color:{{ PRO_COLOR_BACK|raw }}; 
  font-family:{{ PRO_FONT_FAMILY }};
}

.cmd  INPUT, .validation INPUT, .back INPUT {
  background-color:{{ PRO_COLOR_TEXT|raw }};
  border:1px solid #666666;
  color:#FFFFFF;
  font-family:{{ PRO_FONT_FAMILY }};
  cursor: pointer;
}

HR{
  color: #15428B;
}


TR {
  height:35px;
}

TH {
  color:{{ PRO_COLOR_TEXT|raw }}; 
  text-align:right; 
  font-weight:bold; 
  padding-right: 
  10px;
}

TD {
  color:#15428B; 
  text-align:left;
}

.errormsg {
  position:absolute; 
  top:50px; 
  width:100%; 
  z-index:50; 
  color:red; 
  font-family:{{ PRO_FONT_FAMILY }}; 
  font-size:12pt; 
  font-weight:bold; 
  text-align:center;
}
