/**
 * Fichier CSS
 * @author Alkante
 */

body { 
	background-color:#ffffff;
	font-family:{{ PRO_FONT_FAMILY }};

}

.catalogue {
	font-size:10pt;
	text-align:left; 
	width:100%;
	background-color:{{ PRO_COLOR_BACK}};
  border:2px solid #666666;
}

h2 {
		color: {{ PRO_COLOR_TEXT}};
}
.catalogue {
	font-size:10pt;
	text-align:left; 
	width:100%
}

HR{
  color: {{ PRO_COLOR_TEXT}};
}

TH					{
  font-size:10pt; 
  font-weight:bold;
  color: {{ PRO_COLOR_TEXT_LIGHT}};
}

.domaine			{
  font-size:9pt; 
  font-weight:bold;
  background-image:url("/images/domaines.gif");
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 22px;
}
.domaine a {
  text-decoration: none;
  color: {{ PRO_COLOR_TEXT_LIGHT}};
}
.domaine a:hover {
  text-decoration: underline;
}

.sousdomaine		{
  font-size:9pt; 
  font-weight:bold;
  background-image:url("/Scripts/ext3.0/resources/images/default/tree/leaf.gif");
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 22px; 
}
.sousdomaine a {
  text-decoration: none;
  color: {{ PRO_COLOR_TEXT_LIGHT}};
}

.sousdomaine a:hover {
  text-decoration: underline;
}

.nombrecouche		{
	font-size:9pt; 
	text-align:center;
	color: {{ PRO_COLOR_TEXT}};
}

.presentation		
{ 
  font-family:{{ PRO_FONT_FAMILY }}; 
  font-size:12pt; 
  color: {{ PRO_COLOR_TEXT}};
  margin : 10px;
  margin-left:15px;
  font-weight: bold;
}
.tableau			{}
.resume				
{ 
  width:95%;
  margin-left:10px;
  padding: 10px;
  float:left;
  background-color:{{ PRO_COLOR_BACK}};
  border:2px solid #666666;
  font-size:11px;
}

TR
.tableau	{ 
	width:100%; 
	text-align:left;
	margin:5px;
	margin-top:0px
}

.rubric { 
  font-family:{{ PRO_FONT_FAMILY }}; 
  font-size:9pt; 
  font-weight: bold; 
  background-image:url("/Scripts/ext3.0/resources/images/default/tree/folder.gif");
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 20px;  
  color : {{ PRO_COLOR_TEXT_LIGHT}};
}

.onover {
  background-color : {{ PRO_CARTO_COLOR_LIGHT }};
}


div.separateur{
  clear: both;
  width:100%;
  height:20px;
}

div#resume_catalogue{
  width:20%;
  margin-left:15px;
  padding: 10px;
  float:left;
  font-size:11px;
}

div#resume_catalogue_compte{
  width:85%;
  margin-left:15px;
  padding: 10px;
  float:left;
  background-color:{{ PRO_COLOR_BACK}};
  border:1px solid #666666;
  font-size:11px;
  color: #333333;
  font-weight:normal; 
}

div#resume_catalogue_compte h2{
 color: {{ PRO_COLOR_TEXT}};
}

div#fluxrss_maj_catalogue{
  margin-left:1%;
  padding: 10px;
  float:left;

}

div#fluxrss_nouv_catalogue{
  margin-left:1%;
  padding: 10px;
  float:left;
}

div#resume_catalogue h2{
  background-image:url("/bundles/geosource/images/tableau-bord16.png");
  background-repeat: no-repeat;
  background-position: left center;
  margin-top: 0px;
  padding-left: 20px;  
 	color : {{ PRO_COLOR_TEXT}};
  font-size: 18px;
}

div#fluxrss_maj_catalogue h2, div#fluxrss_nouv_catalogue h2{
  background-repeat: no-repeat;
  background-position: left center;
  margin-top: 0px;
  padding-left: 20px;  
	color : {{ PRO_COLOR_TEXT}};
  font-size: 18px;
}

.bloc{
  margin : 5px;
  font-family:{{ PRO_FONT_FAMILY }}; 
  font-size :13px;
  color : {{ PRO_COLOR_TEXT}};
}
ul{
 display : list-item;
 list-style-image : url("/bundles/geosource/images/puce_h3.gif");
 margin-left:20px;
}
ul .rss-item {
  font-size:11px;
}
a  {
  font-size:11px;
  color:#333333;
  font-weight: bold;
}
ul .rss-item-detail{
  font-size:10px;
}
ul .rss-item-date {
  font-size:9px;
  color:#666666;
}

.x-tool-rss {background-image: url("/bundles/geosource/images/rss.gif");}
.x-tool-rss-over {background-image: url("/bundles/geosource/images/rss_over.gif");}

.nonGeographicDataset {
    background-color: #DADADA;
}
.vector {
    background-color: #DEECFD;
}
.grid {
    background-color: #AFD3FF;
}
.textTable {
    background-color: #AFBCD2;
}
.series {
    background-color: #FFD8F1;
}
.carte {
    background-color: #E5F2D3;
}
.service {
    background-color: #FDEBC4;
}