body
{
	background-color:#dddddd;
	font-size:10pt;
	font-family:arial, helvetica, sans-serif;
	color:#000000;
	margin:0 0 0 0;
	scrollbar-3dlight-color: #114F88;
	scrollbar-arrow-color: #87A6C3;
	scrollbar-base-color: #114F88;
	scrollbar-darkshadow-color: #114F88;
	scrollbar-face-color: #114F88;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-shadow-color: #56779A;
	scrollbar-track-color: #87A6C3;
}

table
{
	font-size:10pt;
	font-family:arial, helvetica, sans-serif;
	color:#000000;
	border-collapse:collapse;
}

img	
{
	border-width:0;
}

.menu_haut
{
	background-color:#114F88;
}

.menu_milieu
{
	background-color:#56799A;
	font-size:10pt;
	font-family:arial, helvetica, sans-serif;
	color:#ffffff;
	vertical-align:top;
}

.menu_milieu A
{
	font-size:10pt;
	font-family:arial, helvetica, sans-serif;
	color:#ffffff;
	text-decoration:none;
}

.menu_bas
{
	background-color:#85A5C3;
	vertical-align:top;
}

.imgCmd
{
	border-style:groove;
	border-width:2;
	vertical-align:middle;
	background:#C8D2DC none no-repeat top center;
}


.imgCmdOver
{
	border-style:outset;
	border-width:2;
	vertical-align:middle;
	background:#C8D2DC none no-repeat top center;
}

.imgCmdActive
{
	border-style:inset;
	border-width:2;
	vertical-align:middle;
	background:#C8D2DC none no-repeat top center;
}

.Cmds
{
	vertical-align:middle;
}

.carte
{
	background-color:#C8D2DC;
}

.titre_carte
{
	background-color:#C8D2DC;
	text-align:center;
	font-size:18pt;
	vertical-align:middle;
}

.listeCouches
{
	font-size:10pt;
	font-family:arial, helvetica, sans-serif;
	color:#ffffff;
	margin:0 0 0 0;
	background:transparent none no-repeat top center;
}

.paramsCarte
{
	font-size:10pt;
	font-family:arial, helvetica, sans-serif;
	color:#ffffff;
}

input.btn_m
{
	background-color: #C8D2DC;
	border: thin solid;
	COLOR: #56779A;
	FONT-SIZE: 10px;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	text-align: center;
	font-weight: bold;
	border-color: #FFFFFF #87A6C3 #87A6C3 #FFFFFF;
	width: 80;
	margin-top:8px;
}

.minifiche
{
	zIndex:50;
	position:absolute;
	left:0px;
	top:0px;
	clip: auto auto auto auto;
	display:none;
}


#centerCol{
  height:100%;
  width:100%;
}
#west-top
{
  height:100%;
  width:100%;
}
#west-center
{
  height:100%;
  width:100%;
}
#west-bottom
{
  height:100%;
  width:100%;
}

.table_reference{
  margin:auto;
  height:100%;
}

.table_reference tr{
  vertical-align:middle;
}

.overClass{
  font-style: italic;
  color: green;
}


.Popup
{
  
  font-size:10pt;
  font-family:arial, helvetica, sans-serif;
  margin:0px;
  overflow:visible;
}

#Popup_Contenu
{
  position:absolute;
  top:0px;
  left:0px;
  background-color : transparent;
  font-size:10pt;
  font-family:arial, helvetica, sans-serif;
  padding:10px;
  overflow:visible;
}


table.gestion_champs {
  border-width: 1px 1px 1px 1px;
  border-spacing: 2px;
  border-style: outset outset outset outset;
  border-color: black black black black;
  border-collapse: collapse;
}
table.gestion_champs tr {
  border-width: 1px 1px 1px 1px;
  padding: 1px 1px 1px 1px;
  border-style: none none none none;
  border-color: black black black black;
  -moz-border-radius: 0px 0px 0px 0px;
}
table.gestion_champs td {
  border-width: 1px 1px 1px 1px;
  padding: 1px 1px 1px 1px;
  border-style: none none none none;
  border-color: black black black black;
  -moz-border-radius: 0px 0px 0px 0px;
}


.divmotscles table{
  border-style:outset;
  border-width:1px;
  border-color:#FFFFFF;
  border-collapse:separate;
}
.divmotscles{
  display:table-cell;
}

.divmotscles tr {
  font-size:10pt;
  height:30px;
}
.divmotscles .collection {
  font-size:10pt;
  height:30px;
  width:200px;
  border-style:inset;
  border-width:1px 0;
  border-color:#FFFFFF;
  max-height:100px;
  max-width:400px;
  overflow-y:auto;
  background-color:#EEEEEE;
  text-align:center;
  font-weight:bold;
  font-size:14px;
  color:black;
}
.divmotscles td.concept {
  font-size:10pt;
  height:30px;
  width:250px;
  border-style:inset;
  border-width:1px 0;
  border-color:#FFFFFF;
  max-height:100px;
  max-width:400px;
  overflow-y:auto;
  background-color:#EEEEEE;
  text-align:center;
}
.divmotscles td.button {
  font-size:10pt;
  height:30px;
  width:100px;
  border-style:inset;
  border-width:1px 0;
  border-color:#FFFFFF;
  max-height:100px;
  max-width:400px;
  overflow-y:auto;
  background-color:#EEEEEE;
  text-align:right;
}


.ChoixModele{
	font-size:10pt;
  background-color:#EEEEEE;
  text-align:center;
  padding:10px;
}
.ChoixModele INPUT {
  background-color:#333333;
  border:1px solid #666666;
  color:#FFFFFF;
  cursor: pointer;
}
