<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">

<html>
  <head>
    <title> 500 Error </title>
  </head>

  <body>
     <h1> error_communication </h1>
     <p> error_communication </p>
     <hr>
 </body>

</html>
