/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
.loading-spinner{
  position: absolute;
  top: 50%;
  left: 50%;
}