

body { 
  background-color:#ffffff;
  margin:0 0 0 0;
  font-family:'Arial','Helvetica','sans-serif'; 
  font-size:10pt;
}

H2 {
  font-size:13pt; 
  margin:10px 5px 10px 5px
}

.titre  { 
  width:80%;
  font-size:14pt; 
  color: #15428b;
  float: left;  
}

H3 {
  color: #333333; 
  font-size:10pt; 
  margin: 30px 5px 10px 10px;
  background-image:url("../Scripts/ext3.0/resources/images/default/tree/leaf.gif");
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 20px;  
}

H4 {
  font-size:13px; 
  font-weight:bold; 
  color: #333333; 
  margin:0px 0px 7px 0px;
}


INPUT, SELECT, TEXTAREA   {
  border:1px solid #15428b; 
  background-color:#f5f9ff; 
  font-family:'Arial','Helvetica','sans-serif';
}

.cmd  INPUT, .validation INPUT, .back INPUT {
  background-color:#15428b;
  border:1px solid #666666;
  color:#FFFFFF;
  font-family:'Arial','Helvetica','sans-serif';
  cursor: pointer;
}

HR{
  color: #15428B;
}

.formulaire TABLE {
  border-collapse:collapse; 
  color:black; 
  font-family:'Arial','Helvetica','sans-serif'; 
  font-size:10pt; 
  height:100%; 
  width:100%;
}

.formulaire TR {
  height:35px;
}

.formulaire TH  {
  color:#15428b; 
  text-align:right; 
  padding-right: 10px; 
  font-weight:bold;
}

.formulaire TD {
  color:#15428b; 
  text-align:left;
  padding:2px;
}


.toolbar {
 	
}

.button {
  padding: 10px 5px 5px 5px;
	float: right; 	
}

.downloadBlock {
	clear: both;
	border: 2px solid #15428b;
	padding:10px;
	margin:10px;
}

.sousTitre  span { 
  color: #15428b;
  width:100%;
  font-size:12pt;
  font-weight: bold; 
  margin:0 0 0 0;
  font-family:'Arial','Helvetica','sans-serif';   
}

