body        { width:100% !important; font-size: 12px; background-color:#ffffff/*{{constant('PRO_COLOR_BACK')|raw }}*/;margin:0 0 0 0;font-family:{{constant('PRO_FONT_FAMILY')|raw }}; color: #333333;}

.administration   {}
H2      {
  font-family:{{constant('PRO_FONT_FAMILY')|raw}};
  font-size:18px; 
  color: {{constant('PRO_COLOR_TEXT')|raw}}; 
  margin:10pt; 
  font-weight: bold;
}
H3 {
  margin:20px 0px 10px 10px; 
  color:{{constant('PRO_COLOR_TEXT')|raw}}: 
  font-size:16px;

}
A      {

  color:{{constant('PRO_COLOR_TEXT_LIGHT')|raw}}; 
  text-decoration:none; 
  font-size:10pt;
}
A:hover   {color:red}

.liste     {position:relative; height:100%; width:100%; z-index:5; font-family:{{constant('PRO_FONT_FAMILY')|raw}}; color:black; overflow:auto}

.tooltip    {display:none; z-index:60}

.appearence_titles{font-size:12pt;text-align:center;font-weight:bold;color:{{constant('PRO_COLOR_TEXT')|raw}} }

.text_light {color:{{constant('PRO_COLOR_TEXT_LIGHT')|raw}};font-size:12pt;text-decoration:none;}

.formulaire TABLE {
  border-collapse:collapse; 
  color:black; 
  font-family:{{constant('PRO_FONT_FAMILY')|raw}}; 
  font-size:10pt; 
  height:100%; 
  width:100%;
}

.formulaire TR {
  height:35px;
}

.formulaire TH  {
  color:{{constant('PRO_COLOR_TEXT')|raw}}; 
  text-align:right; 
  padding-right: 10px; 
  font-weight:bold;
}

.formulaire TD {
  color:{{constant('PRO_COLOR_TEXT')|raw }}; 
  text-align:left;
}

.formulaire SELECT {}

.formulaire .validation{
  text-align:center
}
.administration_gen TABLE   { color:black; font-family:{{constant('PRO_FONT_FAMILY')|raw}}; font-size:10pt;  width:100%}
.administration_gen TR      {}
.administration_gen TH      {width:40%;color:{{constant('PRO_COLOR_TEXT')|raw }};  text-align: right; padding-right: 10px;vertical-align: top;font-weight:bold;}
.administration_gen TD      {color:#15428B;}

.validation INPUT, .back INPUT, .administration_gen .validation INPUT, INPUT.button {
  background:transparent none repeat-x scroll 0pt -1096px;
  background-image : url(/Scripts/ext3.0/resources/images/default/button/btn.gif);
  border:1px solid lightgray;
  color:#333333 !important;
  font-family:arial,tahoma,verdana,helvetica;
  font-size:11px;
  height:20px;
  padding : 0px 5px;
  margin : 2px;
  cursor:pointer;
}
.validation INPUT.DISABLED, .back INPUT.DISABLED, .administration_gen .validation INPUT.DISABLED {
  opacity: .45;
  -moz-opacity: .45;
  filter: alpha(opacity=45);
  color:gray !important;
  cursor:default !important;
}

INPUT, TEXTAREA, SELECT, .administration_gen INPUT   
{
  border:1px solid {{constant('PRO_COLOR_TEXT')|raw}};
  background-color:{{constant('PRO_COLOR_BACK')|raw}};
  font-family:{{constant('PRO_FONT_FAMILY')|raw}};
}
input[type=checkbox],input[type=radio]{
  border : none !important;
  background : none !important;
}

.errormsg               {position:absolute; top:10px; width:100%; z-index:50; color:red; font-family:{{constant('PRO_FONT_FAMILY')|raw }}; font-size:12pt; font-weight:bold; text-align:center}
.lock                 {background-color:#dbdbdb}

.data-error {
  color : red;
}
.data-download {
  background: url('/images/add.png') no-repeat 1px 2px;
  padding-left: 20px;
}

.administration_utilisateur tr {
  height : 25px !important;
}