.domaines_ferme,
.domaines_ouvert,
.domaines_resume,
.domaines_resume_vide        {font-family:{{constant('PRO_FONT_FAMILY')|raw}}; top:120px; left:0px; z-index:150; width:120px; background-color:#{{constant('PRO_COLOR_TABLES')|raw}}; color:white; overflow:hidden; border:2px solid white;}

.domaines_ferme         { display:none;}
.domaines_ouvert        {height:390px; width:300px; }
.domaines_ouvert .minimiseur  {position:absolute; background:transparent url("/images/Minimiser.gif") no-repeat top right; top:2px; right:2px; z-index:100; width:20px; height:20px; cursor:pointer}
.domaines_ouvert H2      {text-align:center; font-size:12pt; font-weight:bold; margin-top:5px; cursor:pointer}
.domaines_ouvert .titre_choixdomaine  {display:block}
.domaines_ouvert .titre_resumedomaine {display:none}
.domaines_ouvert .resume     {display:none}
.domaines_ouvert TABLE      {text-align:left; font-size:10pt; color:white; margin-left:10px}
.domaines_ouvert .groupe     {cursor:pointer}
.domaines_ouvert .groupe_ouvert  {width:20px; background:transparent url("/images/ancre_bas.gif") no-repeat center center}
.domaines_ouvert .groupe_ferme   {width:20px; background:transparent url("/images/ancre_droit.gif") no-repeat center center}
.domaines_ouvert .sous_groupe   {cursor:pointer}
.domaines_ouvert .sous_groupe_hide {display:none}
.domaines_ouvert .puce       {width:10px; background:transparent url("/images/boulerouge.gif") no-repeat center center}

.domaines_resume          { height:50px;}
.domaines_resume .minimiseur    {display:none}
.domaines_resume HR        {display:none}
.domaines_resume TABLE       {display:none}
.domaines_resume H2        {text-align:center; font-size:10pt; font-weight:bold; margin-top:5px; cursor:pointer}
.domaines_resume .titre_choixdomaine  {display:none}
.domaines_resume .titre_resumedomaine {display:block}
.domaines_resume .resume        { width:100%; top:28px; z-index:151; text-align:center; font-weight:normal; font-family:{{constant('PRO_FONT_FAMILY')|raw}};height:100%}
.domaines_resume .resume .domaine   {font-size:9pt; top:0px; }
.domaines_resume .resume .sousdomaine {font-size:7pt; top:28px; }

.domaines_resume_vide        { height:40px;}
.domaines_resume_vide .minimiseur  {display:none}
.domaines_resume_vide HR      {display:none}
.domaines_resume_vide TABLE     {display:none}
.domaines_resume_vide H2      {text-align:center; font-size:10pt; font-weight:bold; margin-top:5px; cursor:pointer; }
.domaines_resume_vide .titre_choixdomaine {display:block;vertical-align:middle;}
.domaines_resume_vide .titre_resumedomaine{display:none}
.domaines_resume_vide .resume    {display:none}

.liste             {overflow:auto; height:330px}