.panier_ferme ,
.panier_ouvert {
 position:absolute;
 font-family:{{ constant('PRO_FONT_FAMILY')|raw }}; 
 z-index:201; 
 bottom:20px; 
 height:30px; 
 width:120px;
 background-color:{{ constant('PRO_COLOR_BACK')|raw }};
 color:white; {{ constant('PRO_COLOR_TEXT')|raw }};
 overflow:hidden; 
 border:2px solid #666666;
 _bottom:expression(( ignoreMe = document.documentElement.scrollBottom ? document.documentElement.scrollBottom : document.body.scrollBottom )+'px'); 
   #bottom:expression(( ignoreMe = document.documentElement.scrollBottom ? document.documentElement.scrollBottom : document.body.scrollBottom )+'px'); 
}

.panier_ferme  .minimiseur {
 display:none
}
.panier_ferme  H2 ,
.panier_ouvert H2 {
 text-align:center; 
 font-size:12pt; 
 font-weight:bold; 
 margin-top:5px; 
 cursor:pointer
}
.panier_ferme  TABLE {
 display:none;
}
.panier_ferme  .telecharger ,
.panier_ouvert  .telecharger {
 position:absolute; 
 bottom:10px; 
 font-size:16px; 
 text-align:center; 
 width:100%;
}
.panier_ferme  .telecharger {
 display:none;
}

.panier_ouvert {
 z-index:200; 
 height:390px; 
 width:200px;
}
.panier_ouvert .minimiseur {
 position:absolute; 
 background:transparent url("/images/Minimiser.gif") no-repeat top right; 
 top:2px; 
 right:2px; 
 z-index:100; 
 width:20px; 
 height:20px; 
 cursor:pointer;
}
.panier_ouvert TABLE {
 text-align:left;
 font-size:8pt; 
 color:white; 
 margin-left:10px; 
 width:180px;
}
.panier_ouvert .visualiser {
 cursor:pointer;
}
.panier_ouvert .supprimer {
 width:16px; 
 height:16px; 
 background:transparent url("/images/corbeille 16.gif") no-repeat center center; 
 cursor:pointer;
}
.panier_ouvert .telecharger {
 cursor:pointer;
}

.extensive-remove {
background-image:url(/images/remove.png) ;
}