
<html>
  <head>
    {% include "StandardsBundle:Qualite:headers.html.twig" %}
  </head>
  <body>
    <i id="loading-spiner" class="fa fa-spinner fa-spin loading-spinner" style="font-size:40px"></i>
    <div id="content" ></div>
    <script> main( "{{uuid}}", {{isConforme}}, "{{repportUrl}}"); </script>
  </body>
</html>



