<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>

    <HEAD>
        <META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=utf-8">
        <TITLE> </TITLE>
        <META NAME="" CONTENT="">

        <link href="{{ app.request.scheme }}://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"/>
        <link href="/vendor/ext-5.1.0-gpl/build/packages/ext-theme-crisp/build/resources/ext-theme-crisp-all.css" rel="stylesheet"/>
        
		    {% if app.environment == 'dev' %}
			    

			    <script type="text/JavaScript" src="/vendor/ext-5.1.0-gpl/build/ext-all-debug.js"></script>
			    <script type="text/JavaScript" src="/vendor/ext-5.1.0-gpl/packages/ext-theme-crisp/build/ext-theme-crisp-debug.js"></script>
			    <script type="text/javascript">ENVIRONNEMENT='dev';</script>
		    {% else %}
			    <script type="text/JavaScript" src="/vendor/ext-5.1.0-gpl/build/ext-all.js"></script>
			    <script type="text/JavaScript" src="/vendor/ext-5.1.0-gpl/packages/ext-theme-crisp/build/ext-theme-crisp.js"></script>
			    <script type="text/javascript">ENVIRONNEMENT='prod';</script>
		    {%  endif %}
        <script type="text/JavaScript" src="/vendor/ext-5.1.0-gpl/packages/ext-locale/build/ext-locale-fr.js"></script>
        <script type="text/JavaScript">var EXTJS_PATH=function(path){var root = "/vendor/ext-5.1.0-gpl/"; return root+path.replace(root, "");}</script>

        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"> </script>
        <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"> </script>

	      <style type="text/css">
	        .prodige-trigger {background-image:none !important; padding : 5px 5px 0px 5px !important; }
	      </style>

        <SCRIPT TYPE="text/javascript">
          Ext.onReady(function() {

            var values = {{ values|json_encode|raw }};
            //console.log(values);
            
            if( 'uuid' in values ) {

              /* store de la liste des couches */
              var layers_store = Ext.create('Ext.data.Store', {
                fields : ['coucheNom', 'dataset_title', 'table_name', 'uuid'], 
                data : [] 
              });
              /* store de la liste des séries des données */
              var data_store = Ext.create('Ext.data.JsonStore', {
                fields : ['coucheNom', 'dataset_title', 'table_name', 'uuid'], 
                proxy : {
                  type : 'ajax' /*'jsonp'*/,
                  url : Routing.generate('catalogue_join_services_AdministrationCarto_getCouche', {'SRV_CARTO':1, 'coucheType': "1,-3,-4"})
                },
                autoLoad: {
                  callback: function() {
                    if( this.isLoaded() ) {
                      Ext.getCmp('configGraphFormPanel').unmask();
                      if( 'serie_donnees_uuid' in values ) {
                        Ext.getCmp('serie_donnees_uuid').setReadOnly(true);
                        /* vider le store de la liste des couches */
                        Ext.getCmp('couche').setValue([]);                          
                        layers_store.removeAll();
                        /* remplir la liste des couches par les valeurs qui ont le même uuid de la valeur de la série de données sélectionnée */
                        this.each(function(record){
                          if( record.data.uuid == values['serie_donnees_uuid'] ) {
                            layers_store.add(record);
                          }
                        });
                        /* valeur sélectionnée par défaut de la liste des couches */
                        if( 'couche' in values ) {
                          Ext.getCmp('couche').setValue(values['couche']);
                          Ext.getCmp('couche').setReadOnly(true);
                          Ext.getCmp('colonnes').setReadOnly(true);
                        }
                      }
                    }
                  }
                }
              });

              /* store de la liste des colonnes */
              var fields_store = Ext.create('Ext.data.Store', {
                fields : ['colonnes'], 
                data : [] 
              });

              // interface de configuration des graphes
              Ext.create('Ext.form.Panel', {
                id : 'configGraphFormPanel',
                name : 'configGraphFormPanel',
                frame : true,
                title : 'Paramétrage d\'un graphe',
                width : '50%',
                x : '50%',
                align : 'center',
                heigth : 150,
                bodyPadding : 10,
                renderTo : 'graph_panel',
                fieldDefaults : {
                  labelWidth : 200,
                  width : '100%',
                  labelAlign : 'right',
                  labelSeparator : ''
                },
                items : [
                  {
                    xtype : 'textfield',
                    id : 'titre',
                    name : 'titre',
                    fieldLabel : 'Titre',
                    minLength : 3,
                    maxLength : 55,
                    value : ( 'titre' in values ? values['titre'] : '' )
                  }, {
                    xtype : 'textareafield',   
                    id : 'resume',
                    name : 'resume',
                    fieldLabel : 'Résumé',
                    value : ( 'resume' in values ? values['resume'] : '' )
                  }, {
                    xtype : 'combo',
                    id : 'serie_donnees_uuid',
                    name : 'serie_donnees_uuid',
                    fieldLabel : 'Série de données',
                    store : data_store,
                    queryMode : 'local', //important
                    allowBlank : false,
                    editable : false,
                    //triggerAction: 'all',
                    valueField : 'uuid',
                    displayField : 'dataset_title',
                    value : ( 'serie_donnees_uuid' in values ? values['serie_donnees_uuid'] : '' ),
                    loadLayersStore: function(uuid) {
                      /* vider le store de la liste des champs */
                      Ext.getCmp('couche').setValue([]);                          
                      layers_store.removeAll();                      
                      /* vider le store de la liste des champs */
                      Ext.getCmp('colonnes').setValue([]);                          
                      fields_store.removeAll();
                      /* remplir la liste des couches par les valeurs qui ont le même uuid de la valeur de la série de donnée sélectionnée */
                      data_store.each(function(record){
                        if( record.data.uuid == uuid ) {
                          layers_store.add(record);
                        }
                      });
                    },
                    listeners : {
                      change : function(combo){
                        if( combo.getValue() != null && combo.getValue() != "" ) {
                          combo.loadLayersStore( combo.getValue() );
                          Ext.getCmp('couche').setValue( layers_store.getAt(0).get('table_name') );
                        }
                      }
                    }
                  }, {
                    xtype : 'combo',
                    id : 'couche',
                    name : 'couche',
                    fieldLabel : 'Couche',
                    store : layers_store,
                    queryMode : 'local', //important
                    allowBlank : false,
                    editable : false,
                    //triggerAction: 'all',
                    valueField : 'table_name',
                    displayField : 'coucheNom',
                    loadFieldsStore: function(couche, values) {
                      Ext.Ajax.request({
                        url: Routing.generate('catalogue_graph_getLayerFields', {table_name: couche}),
                        method : 'GET',
                        success : function(response) {
                          Ext.getCmp('configGraphFormPanel').unmask();

                          if ( !response || !response.responseText ) return;
                          var response = Ext.decode(response.responseText);

                          /* vider le store de la liste des champs */
                          Ext.getCmp('colonnes').setValue([]);                          
                          fields_store.removeAll();

                          for(var i = 0; i < response.length; i++) {
                            fields_store.add({'colonnes' : response[i]['column_name'] });
                          }

                          Ext.getCmp('colonnes').setValue( ( values.length ? values : fields_store.getRange() ) );
                        },
                        failure : function(response) {
                          Ext.getCmp('configGraphFormPanel').unmask();
                        }
                      });
                    },
                    listeners : {
                      change : function(combo){
                        if( combo.getValue() != null && combo.getValue() != "" ) {
                          combo.loadFieldsStore( combo.getValue(), ( 'colonnes' in values && values['colonnes'] != null ? values['colonnes'].split(", ") : [] ) );
                          // prochaines changements de valeurs ne seront pas liées à la configuration
                          values['colonnes'] = null;
                        }
                      },
                      afterrender : function(combo){
                        if( combo.getValue() != null && combo.getValue() != "" ) {
                          combo.loadFieldsStore( combo.getValue(), ( 'colonnes' in values && values['colonnes'] != null ? values['colonnes'].split(", ") : [] ) );
                        }
                      }
                    }
                  }, {
                    xtype : 'tagfield',
                    id : 'colonnes',
                    name : 'colonnes',
                    fieldLabel : 'Champs',
                    store : fields_store,
                    queryMode : 'local', //important
                    //triggerAction: 'all',
                    valueField : 'colonnes',
                    displayField : 'colonnes',
                    filterPickList: true
                  }
                ],
                buttons : [
                  {
                    text : 'Etape suivante',
                    listeners: {
                      click: function (btn) {

                        var form = this.up('form');

                        if( form.isValid() ) {
                          Ext.Ajax.request({
                            url: Routing.generate('catalogue_graph_submitForm', {'uuid' : values['uuid']} ),
                            method : 'POST',
                            jsonData: form.getValues(),
                            success : function(response) {
                              if ( !response || !response.responseText ) return;

                              // redirection vers rawgraph
                              window.location = Routing.generate('catalogue_rawgraph', {uuid : values['uuid'], mode: 'update'});
                            },
                            failure : function(response) { /**/  }
                          });
                        }

                      }
                    }
                  }
                ],
                listeners : {
                  afterrender : function(panel){
                    panel.mask('Chargement des données en cours ...');
                  }
                }
              });
            }
            else { // if( 'uuid' in values )
              Ext.Msg.alert('Error !', 'Absence de UUID').setIcon(Ext.Msg.ERROR);
            }
          });
        </SCRIPT>

    </HEAD>

    <BODY LANG="fr-FR" DIR="LTR">
        <DIV STYLE="text-align:center" ID='graph_panel'> </DIV>
    </BODY>

</HTML>