<script>
    var layers = {{ infoLayers | json_encode() | raw }};
    
   /**
    * vérifie l'intégrité des champs du formulaire
    * @return retourne true si tous les champs sont valides, sinon retourne false et affiche un message
    */
    function verifCtrl_vector() {
        if(url_srv_tele == "") {
            Ext.Msg.alert("Serveur de téléchargement", "Impossible d'exécuter le téléchargement direct, l'adresse du serveur de téléchargement est invalide.");
            return false;
        }
        if(document.getElementById("SELECT_FORMAT_vector").value == "") {
            Ext.Msg.alert("Format", "Veuillez sélectionner le format des données.");
            return false;
        }
        if(document.getElementById("SELECT_PROJ_vector").value == "" ) {
            Ext.Msg.alert("Projection", "Veuillez sélectionner la projection des données.");
            return false;
        }
        if(document.getElementById("check_extract_territoire_vector").checked ) {
            if((document.panierDownloadFrontal_vector.area_type_vector[0].checked &&
            (document.getElementById("SELECT_TERRITOIRE_FIELD_vector").value == "" || document.getElementById("SELECT_TERRITOIRE_DATA_vector").value == "")) ||
            (document.panierDownloadFrontal_vector.area_type_vector[1].checked && 
            (document.getElementById("geom_area_value_vector").value == ""))) {
                Ext.Msg.alert("Territoire", "Veuillez sélectionner un territoire prédéfini ou définir une zone cartographique.");
                return false;
            }

            var exp = RegExp("^[0-9-.]+$","g");
            var buffer = document.getElementById("EXTRACT_TOLERANCE_vector").value;
            if(!exp.test(buffer) || buffer < 100 || buffer > 5000) {
                Ext.Msg.alert("Tolérance d'extraction", "Veuillez saisir une valeur de tolérance comprise entre 100 et 5000.");
                return false;
            }
        }
        return true;
  }

   /**
    * effectue l'appel Ajax permettant d'exécuter le téléchargement direct ou différé
    * @param bDirect   booléen indiquant si le téléchargement est direct ou non
    */
    function execute_telecharger_vector(bDirect) {
        if(!verifCtrl_vector())
          return;

        // mise a jour interface
        var divElt = getElementByIdSrvSuffix(0, "vector");
        if(divElt)
            divElt.innerHTML = "<table><tr><td valign=\"middle\">En cours de traitement...</td><td><img src=\"/geosourcebundle/images/panier/waiting.gif\"></td></tr></table>";

        // retrieving viewname of layer that have been joined
        var vectorTables = {{ vectorTables | json_encode() | raw }};
        
        strTablename = [];
        for(var i=0; i<vectorTables.length; i++) {
          for(var j=0; j<vectorTables[i].length; j++) {
            var domEl = document.getElementById('viewname_of_'+vectorTables[i][j]);
            var name = domEl == null
            ? vectorTables[i][j]
            : domEl.value;
            strTablename[i] = strTablename[i] || [];
            strTablename[i].push(name);
          }
          
          strTablename[i] = strTablename[i].join(',');
        }
        strTablename = strTablename.join('%');

        var urlDownload = '{{ CARMEN_URL_SERVER_DOWNLOAD }}';
        var data_type = "vector";
        var service_idx = "{{ service_idx }}";
        var email       = "{{ email }}";
        var format      = document.getElementById("SELECT_FORMAT_vector").value;
        var projection  = document.getElementById("SELECT_PROJ_vector").value;
        var data        = encodeValue("POSTGIS_DATA:" + strTablename);
        var metadata_id = "{{ metadata_id }}";
        var bTerritoire     = "0";
        var territoire_type = "";
        var territoire_data = "";
        var extract_area = "" ;
        var buffer = "";
        var restricted_area_field = "";
        var restricted_area_buffer = "";
        var territoire_area = "";
        
        var extractionattributaire_couche = document.getElementById("extractionattributaire");
        extractionattributaire_couche = (extractionattributaire_couche && extractionattributaire_couche !== null 
                                        ? extractionattributaire_couche.innerHTML 
                                        : "");
        var extractionattributaire_adminsite = "";

        Ext.Ajax.timeout = 900000;
        Ext.Ajax.request({
            url: '{{ url }}',
            method: "GET",
            success: function (response) { 
                extractionattributaire_adminsite = response;
            },
            failure: function (response) { 
                Ext.Msg.alert("Territoire", "Erreur de récupération des territoires.");
            },
            params : {queryMode: "getFields", tablename: 'prodige_download_param', service_idx: '{{ service_idx }}' },
            scope: this
        });


        var infoDownload = {
            suffix : "vector",
            idSrv : 0,
            projection : projection,
            format : format,
            infoLayers : layers
        };

        if(document.getElementById("check_extract_territoire_vector").checked) {
            var tabTerritoireData = new Array();
            bTerritoire = "1";
            // predefined area... 
            if(document.panierDownloadFrontal_vector.area_type_vector[0].checked) {
                territoire_type = document.getElementById("SELECT_TERRITOIRE_FIELD_vector").value;
                territoire_data = document.getElementById("SELECT_TERRITOIRE_DATA_vector").value;
            }
            else if(document.panierDownloadFrontal_vector.area_type_vector[1].checked) {
                extract_area = document.getElementById("geom_area_value_vector").value;
            }
            buffer = document.getElementById("EXTRACT_TOLERANCE_vector").value;
        }

        //téléchargement de données restreintes territorialement
        {{ str_download_data |raw }}

        var params = { 
            mode      : "prodige",
            data_type              : data_type,
            service_idx            : service_idx,
            format                 : format,
            projection             : projection,
            data                   : data,
            metadata_id            : metadata_id,
            bTerritoire            : bTerritoire,
            territoire_type        : territoire_type,
            territoire_data        : territoire_data,
            territoire_area        : territoire_area,
            extractionattributaire_couche : extractionattributaire_couche,
            restricted_area_field  : restricted_area_field,
            restricted_area_buffer : restricted_area_buffer,
            extract_area           : extract_area,
            buffer                 : buffer
        }
        if(bDirect) {
            Ext.Ajax.timeout = timout_tele_direct;  // set timout
            Ext.Ajax.request({
                url: urlDownload,
                method: "POST",
                params: Ext.apply({ "email": email, "direct": "{{ params_direct| raw }}" }, params),
                success: function(result) {
                      telecharger_success(result, infoDownload);
                },
                failure: function(result) {
                    telecharger_failure(result, infoDownload);
                }
            });
        } else {
            if(email == "") {
                Ext.Msg.prompt('Téléchargement', 'Merci de renseigner votre adresse mail', function(btn, text) {
                    if(btn == 'ok') {
                        Ext.Ajax.timeout = 900000;
                        Ext.Ajax.request({
                            url: urlDownload,
                            method: "POST",
                            params: Ext.applyIf({ "email": encodeValue(text) }, params),
                            success: function(result) {
                                telecharger_delayed_success(result, infoDownload);
                            },
                            failure: function(result) {
                                telecharger_delayed_failure(result, infoDownload);
                            }
                        });
                    }
                });
            }
            else {
                Ext.Ajax.timeout = 900000;
                Ext.Ajax.request({
                    url: urlDownload,
                    method: "POST",
                    params:  Ext.applyIf({ "email": email }, params),
                    success: function(result) {
                        telecharger_delayed_success(result, infoDownload);
                    },
                    failure: function(result) {
                        telecharger_delayed_failure(result, infoDownload);
                    }
                });
            }
        }
    }

    var bShowTabVector = true;

    function getAreaVector() {
        layers = {{ infoLayers | json_encode() | raw }};
        //getCartographicArea("carte_extraction_raster.map", "geom_area_value_raster",areaLimit,true);
        TSAjoutDeCarte_Ouvrir(2, "geom_area_value_vector");
    }
</script>

<div id="downloadBlock_vector" class="downloadBlock x-hide-display" align="center">
    <div class="sousTitre">
        <span> Données vecteur </span>
    </div>
    <br/>
    <div align="center">
        <form name="panierDownloadFrontal_vector" method="POST" action="{{ form_action }}">
            <table class="formulaire" border="0">
                <tr>
                <th align="right" valign="top"> Format des données </th>
                <td align="left" valign="top">
                    <input type="text" id="formats_vector" size="50" style='width:185px;'/>
                        <script>
                            var store = new Ext.data.ArrayStore({
                                fields: ["ext", "format"],
                                data : {{ formats | json_encode() |raw }}
                            });

                            var cbFormat = new Ext.form.ComboBox({
                                store: store,
                                valueField: "ext",
                                displayField:"format",
                                hiddenName: "SELECT_FORMAT_vector",
                                hiddenId: "SELECT_FORMAT_vector",
                                id : "SELECT_FORMAT_vector",
                                forceSelection: true,
                                typeAhead: true,
                                triggerAction: "all",
                                mode: "local",
                                listWidth: 300,
                                width: 185,
                                emptyText:"Sélectionnez un format",
                                applyTo: "formats_vector",
                                enableKeyEvents : true,
                                plugins: new Ext.ux.plugins.CustomFilterCombo({
                                anyMatch : false,
                                caseSensitive : false
                                }),
                                // hack to force well sizing of combo div...
                                listeners : { 'afterrender' : function(cp) { cp.getEl().parent().setWidth(200); } }
                            });
                        </script>
                    </td>
                </tr>
                <tr>
                    <th align="right" valign="top">Projection des données</th>
                    <td align="left" valign="top">
                        <input type="text" id="projections_vector" size="auto"/> 
                            <script>
                                var store = new Ext.data.ArrayStore({
                                    fields: ["srid", "projection"],
                                    data : {{ projections | json_encode() |raw }}
                                });
                                var cbProj = new Ext.form.ComboBox({
                                    store: store,
                                    valueField: "srid",
                                    displayField:"projection",
                                    hiddenName: "SELECT_PROJ_vector",
                                    hiddenId: "SELECT_PROJ_vector",
                                    id:"SELECT_PROJ_vector",
                                    forceSelection: true,
                                    typeAhead: true,
                                    triggerAction: "all",
                                    mode: "local",
                                    listWidth: 350,
                                    width: 185,
                                    emptyText:"Sélectionnez une projection",
                                    applyTo: "projections_vector",
                                    enableKeyEvents : true,
                                    plugins: new Ext.ux.plugins.CustomFilterCombo({
                                    anyMatch : false,
                                    caseSensitive : false
                                    }),
                                    // hack to force well sizing of combo div...
                                    listeners : { 'afterrender' : function(cp) { cp.getEl().parent().setWidth(200); } }
                                });
                            </script>
                        </td>
                    </tr>
                    <tr style="height:5px;">
                        <th align="right" valign="top"> Extraire une partie des données sur un territoire </td>
                        <td align="left" valign="top"> {{ str3 |raw }} </td>
                    </tr>
                </table>
                <div id="TABLE_TERRITOIRE_vector" style="align:center;display:none;">
                <table class="formulaire">
                    <tr>
                        <td> <input type="radio" name="area_type_vector" value="predefined" checked/> &nbsp;&nbsp;Territoire prédéfini </td>
                    </tr>
                    <tr>
                        <td>
                            <div id="territoire_criteria" style="display:block;">
                                <table class="formulaire" id="{{ table_cb_id }}">
                                </table>
                            </div>
                            <table class="formulaire" id="territoire_result" style="display:none">
                                <tr>
                                    <th>
                                        <input id="SELECT_TERRITOIRE_FIELD_vector" style="display:none"/>
                                        <input id="SELECT_TERRITOIRE_DATA_vector" style="display:none"/>
                                        <div id="territoire_msg"> </div>
                                     </td>
                                    <td>
                                        <input type="Button" value="Changer" onclick='change_territoire("vector")'/>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <div> Attention, l'extraction de données sur un territoire peut prendre quelques minutes.</div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td> <input type="radio" name="area_type_vector" value="manual"/> &nbsp;&nbsp;Zone cartographique </td>
                    </tr>
                    <tr>
                        <td>
                            <table class="formulaire">
                                <tr>
                                    <td>
                                        <input type="hidden" id="geom_area_value_vector" name="geom_area_value_vector" value="" onchange='fieldUpdate("geom_area_display_vector","Zone définie");'/>
                                        <input type="text" id="geom_area_display_vector" name="geom_area_display_vector" value="Pas de zone définie" disabled />
                                    </td>
                                    <td> <input type="Button" value="Définir la zone d'extraction sur la carte" onclick='getAreaVector();'/> </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <br/>
                <table class="formulaire">
                    <tr>
                        <th align="right" valign="top"> Tolérance d'extraction </th>
                        <td align="left" valign="top">
                            <input name="EXTRACT_TOLERANCE_vector" id="EXTRACT_TOLERANCE_vector" type="text" max-length="4" 
                                   size="4" value="{{ extract_tolerance }}"> (en mètres) entre 100 et 5000 </input>
                    </td>
                    </tr>
                </table>
            </div>
            <input type="hidden" name="LAYERIDTS_vector" value="{{ m_Idts_vector }}">
        </form>
    </div>
    <table align="center" width="90%">
        <tr>
            <td class="validation" colspan="2" align="center">
                <br>
                {{ str4 |raw }}
            </td>
        </tr>
    </table>
    <br>
    <table class="formulaire" align="center" style="border-color:#828177; " border="1" cellpadding="2" cellspacing="0" width="90%">
        {{ str5 |raw }}
    </table>
</div>