<script>
    var layers = {{ infoLayers | json_encode() | raw }};
    
   /**
    * vérifie l'intégrité des champs du formulaire
    * @return retourne true si tous les champs sont valides, sinon retourne false et affiche un message
    */
    function verifCtrl_model() {
        if(url_srv_tele == "") {
            Ext.Msg.alert("Serveur de téléchargement", "Impossible d'exécuter le téléchargement direct, l'adresse du serveur de téléchargement est invalide.");
            return false;
        }
        return true;
  }

   /**
    * effectue l'appel Ajax permettant d'exécuter le téléchargement direct ou différé
    * @param bDirect   booléen indiquant si le téléchargement est direct ou non
    */
    function execute_telecharger_model(bDirect) {
        if(!verifCtrl_model())
          return;

        // mise a jour interface
        var divElt = getElementByIdSrvSuffix(0, "model");
        if(divElt)
            divElt.innerHTML = "<table><tr><td valign=\"middle\">En cours de traitement...</td><td><img src=\"/geosourcebundle/images/panier/waiting.gif\"></td></tr></table>";

        // retrieving viewname of layer that have been joined
        var vectorTables = {{ vectorTables | json_encode() | raw }};
        
        

        var urlDownload = '{{ CARMEN_URL_SERVER_DOWNLOAD }}';
        var data_type = "model";
        var service_idx = "{{ service_idx }}";
        var email       = "{{ email }}";
        var format      = "";
        var projection  = "";
        var data        = "";
        var metadata_id = "{{ metadata_id }}";
        var bTerritoire     = "0";
        var territoire_type = "";
        var territoire_data = "";
        var extract_area = "" ;
        var buffer = "";
        var restricted_area_field = "";
        var restricted_area_buffer = "";
        var territoire_area = "";
        
        
        var extractionattributaire_couche = document.getElementById("extractionattributaire");
        extractionattributaire_couche = (extractionattributaire_couche && extractionattributaire_couche !== null 
                                        ? extractionattributaire_couche.innerHTML 
                                        : "");
       
        Ext.Ajax.timeout = 900000;
       


        var infoDownload = {
            suffix : "model",
            idSrv : 0,
            projection : projection,
            format : format,
            infoLayers : layers
        };



        var params = { 
            mode      : "prodige",
            data_type              : data_type,
            service_idx            : service_idx,
            format                 : format,
            projection             : projection,
            data                   : metadata_id,
            metadata_id            : metadata_id,
            bTerritoire            : bTerritoire,
            territoire_type        : territoire_type,
            territoire_data        : territoire_data,
            territoire_area        : territoire_area,
            extractionattributaire_couche : extractionattributaire_couche,
            restricted_area_field  : restricted_area_field,
            restricted_area_buffer : restricted_area_buffer,
            extract_area           : extract_area,
            buffer                 : buffer
        }
        if(bDirect) {
            Ext.Ajax.timeout = timout_tele_direct;  // set timout
            Ext.Ajax.request({
                url: urlDownload,
                method: "POST",
                params: Ext.apply({ "email": email, "direct": "{{ params_direct| raw }}" }, params),
                success: function(result) {
                      telecharger_success(result, infoDownload);
                },
                failure: function(result) {
                    telecharger_failure(result, infoDownload);
                }
            });
        } else {
            if(email == "") {
                Ext.Msg.prompt('Téléchargement', 'Merci de renseigner votre adresse mail', function(btn, text) {
                    if(btn == 'ok') {
                        Ext.Ajax.timeout = 900000;
                        Ext.Ajax.request({
                            url: urlDownload,
                            method: "POST",
                            params: Ext.applyIf({ "email": encodeValue(text) }, params),
                            success: function(result) {
                                telecharger_delayed_success(result, infoDownload);
                            },
                            failure: function(result) {
                                telecharger_delayed_failure(result, infoDownload);
                            }
                        });
                    }
                });
            }
            else {
                Ext.Ajax.timeout = 900000;
                Ext.Ajax.request({
                    url: urlDownload,
                    method: "POST",
                    params:  Ext.applyIf({ "email": email }, params),
                    success: function(result) {
                        telecharger_delayed_success(result, infoDownload);
                    },
                    failure: function(result) {
                        telecharger_delayed_failure(result, infoDownload);
                    }
                });
            }
        }
    }

    var bShowTabModel = true;

</script>

<div id="downloadBlock_model" class="downloadBlock x-hide-display" align="center">
    <div class="sousTitre">
        <span> Données modèles </span>
    </div>
    <br/>
    <div align="center">
        <form name="panierDownloadFrontal_model" method="POST" action="{{ form_action }}">
            <table class="formulaire" border="0">
                <tr>
                <th align="right" valign="top"> Format des données </th>
                <td align="left" valign="top">
                    dump Postgis
                    <input type="hidden" id="formats_model"/>
                </td>
                </tr>
                </table>
            
            <input type="hidden" name="LAYERIDTS_model" value="{{ m_Idts_vector }}">
        </form>
    </div>
    <table align="center" width="90%">
        <tr>
            <td class="validation" colspan="2" align="center">
                <br>
                {{ str4 |raw }}
            </td>
        </tr>
    </table>
    <br>
    <table class="formulaire" align="center" style="border-color:#828177; " border="1" cellpadding="2" cellspacing="0" width="90%">
        {{ str5 |raw }}
    </table>
</div>