<script>
    /**
    * vérifie l'intégrité des champs du formulaire
    * @return retourne true si tous les champs sont valides, sinon retourne false et affiche un message
    */
    function verifCtrl_table() {
        if(url_srv_tele == "") {
            Ext.Msg.alert("Serveur de téléchargement", "Impossible d'exécuter le téléchargement direct, l'adresse du serveur de téléchargement est invalide.");
            return false;
        }
        if(document.getElementById("SELECT_FORMAT_table").value == "" ) {
            Ext.Msg.alert("Format", "Veuillez sélectionner le format des données.");
            return false;
        }
        return true;
    }

   /**
    * effectue l'appel Ajax permettant d'exécuter le téléchargement direct ou différé
    * @param bDirect   booléen indiquant si le téléchargement est direct ou non
    */
    function execute_telecharger_table(bDirect) {
        if(!verifCtrl_table()) 
          return;

        // mise a jour interface
        var divElt = getElementByIdSrvSuffix(0, "table");
        if(divElt)
            divElt.innerHTML = "<table><tr><td valign=\"middle\">En cours de traitement...</td><td><img src=\"/geosourcebundle/images/panier/waiting.gif\"></td></tr></table>";

        var data_type = "table";
        var service_idx = "{{ service_idx }}";
        var email       = "{{ email }}";
        var format      = document.getElementById("SELECT_FORMAT_table").value;
        var data        = "{{ data }}";
        var metadata_id = "{{ metadata_id }}";
        var bTerritoire     = "0";

        var infoDownload = {
            suffix : "table",
            idSrv : 0,
            projection : "",
            format : format,
            infoLayers :  [
                           {{ infoLayers|raw}}
            ]
        }

        if(bDirect) {
            Ext.Ajax.timeout = timout_tele_direct;  // set timout
            Ext.Ajax.request({
                url: "{{ CARMEN_URL_SERVER_DOWNLOAD }}",
                method: "POST",
                params: { "mode": "prodige",
                          "data_type" : data_type,
                          "service_idx": service_idx,
                          "email": email,
                          "format": format,
                          "projection": "",
                          "data": data,
                          "metadata_id": metadata_id,
                          "direct": "{{ params_direct }}",
                          "bTerritoire": bTerritoire,
                          "territoire_type": "",
                          "territoire_data": "",
                          "extract_area": "",
                          "buffer": ""
                },
                success: function(result) {
                    telecharger_success(result, infoDownload);
                },
                failure: function(result) {
                    telecharger_failure(result, infoDownload);
                }
            });
        }
        else {
            if(email == "") {
            Ext.Msg.prompt('Téléchargement', 'Merci de renseigner votre adresse mail', function(btn, text) {
                if(btn == 'ok') {
                    Ext.Ajax.request({
                        url: "{{ CARMEN_URL_SERVER_DOWNLOAD }}",
                        method: "POST",
                        params: { "mode": "prodige",
                        "data_type" : data_type,
                        "service_idx": service_idx,
                        "email": encodeValue(text),
                        "format": format,
                        "projection": "",
                        "data": data,
                        "metadata_id": metadata_id,
                        "bTerritoire": bTerritoire,
                        "territoire_type": "",
                        "territoire_data": "",
                        "extract_area": "",
                        "buffer": ""
                        },
                        success: function(result) {
                            telecharger_delayed_success(result, infoDownload);
                        },
                        failure: function(result) {
                            telecharger_delayed_failure(result, infoDownload);
                        }
                    });
                }
            });
             }
             else {
                Ext.Ajax.request({
                    url: "{{ CARMEN_URL_SERVER_DOWNLOAD }}",
                    method: "POST",
                    params: { "mode": "prodige",
                              "data_type" : data_type,
                              "service_idx": service_idx,
                              "email": email,
                              "format": format,
                              "projection": "",
                              "data": data,
                              "metadata_id": metadata_id,
                              "bTerritoire": bTerritoire,
                              "territoire_type": "",
                              "territoire_data": "",
                              "extract_area": "",
                              "buffer": ""
                    },
                    success: function(result) {
                        telecharger_delayed_success(result, infoDownload);
                    },
                    failure: function(result) {
                        telecharger_delayed_failure(result, infoDownload);
                    }
                });
            }
        }
    }

    var bShowTabTable = true;

</script>

<div id="downloadBlock_table" class="downloadBlock x-hide-display" align="center">
    <div class="sousTitre">
        <span> Données attributaires </span>
    </div>
    <br/>
    <div align="center">
        <form name="panierDownloadFrontal_table" method="POST" action="{{ form_action }}">
            <table class="formulaire" border="0">
                <tr>
                    <th align="right" valign="top"> Format des données </th>
                    <td align="left" valign="top">
                        <input type="text" id="formats_table" size="50"/>
                            <script>
                                {{ str1| raw }}
                                var store = new Ext.data.ArrayStore({
                                    fields: ["ext", "format"],
                                    data : eval(data)
                                });
                                var cbFormat = new Ext.form.ComboBox({
                                    store: store,
                                    valueField: "ext",
                                    displayField:"format",
                                    hiddenName: "SELECT_FORMAT_table",
                                    hiddenId: "SELECT_FORMAT_table",
                                    id : "SELECT_FORMAT_table",
                                    forceSelection: true,
                                    typeAhead: true,
                                    triggerAction: "all",
                                    mode: "local",
                                    listWidth: 300,
                                    emptyText:"Sélectionnez un format",
                                    applyTo: "formats_table",
                                    enableKeyEvents : true,
                                    plugins: new Ext.ux.plugins.CustomFilterCombo({
                                    anyMatch : false,
                                    caseSensitive : false
                                    }),
                                    // hack to force well sizing of combo div...
                                    listeners : { 'afterrender' : function(cp) { cp.getEl().parent().setWidth(200); } }
                                });
                            </script>
                        </td>
                    </tr>
                </table>
                <input type="hidden" name="LAYERIDTS_table" value="{{ m_Idts_table }}">
            </form>
        </div>

        <table align="center">
            <tr>
                <td class="validation" colspan="2" align="center">
                <br>
                {{ str2| raw }}
            </tr>
        </table>
        <br>
        <table class="formulaire" align="center" style="border-color:#828177; " border="1" cellpadding="2" cellspacing="0">
            {{ str3| raw }}
        </table>
</div>

