<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
    <HEAD>
        <META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=utf-8">
        <TITLE> </TITLE>
        <META NAME="" CONTENT="">
        <link rel='stylesheet' type='text/css' href="/Scripts/ext-5.0.1/build/packages/ext-theme-crisp/build/resources/ext-theme-crisp-all.css">
        {% if colorOverloadfile != "" %}
            <link rel='stylesheet' type='text/css' href="/bundles/geosource/css/{{ colorOverloadfile }}.css">
        {% endif %}
        <!-- ExtJS 5 -->
        <script type="text/javascript" src="/Scripts/ext-5.0.1/build/ext-all.js"> </script>
        <script type="text/javascript" src="/Scripts/ext-5.0.1/build/packages/ext-theme-crisp/build/ext-theme-crisp.js"> </script>
        <script type="text/javascript" src="/Scripts/ext-5.0.1/packages/ext-locale/build/ext-locale-fr.js"> </script>
        <script type="text/javascript" src="/Scripts/ext-5.0.1/packages/ext-locale/build/ext-locale-fr.js"> </script>
        <script type="text/javascript" src="/bundles/geosource/js/viewManager.js"> </script>

        <script type="text/javascript" src="{{ asset('geosourcebundle/js/router.js') }}"> </script>
        <script type="text/javascript" src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"> </script>

    </HEAD>


    <BODY LANG="fr-FR" DIR="LTR">

        <SCRIPT TYPE="text/javascript">
            var url_back = "{{ url_back }}";
        </SCRIPT>

        <SCRIPT TYPE="text/javascript">
            var table_name = '{{ table_name }}';
            Ext.onReady(function() {
                // Ext.QuickTips.init();
                init(table_name, url_back);
            });
        </SCRIPT>

        <DIV ID='form_panel_to_render'> </DIV>

    </BODY>

</HTML>