<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
 <head>
    <title>Module qualité</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <link rel="shortcut icon" href="/favicon.ico" />

    <link rel="icon" type="favicon/ico" href="/images/logo/favicon.png" />


    <!-- Extjs theme css -->
    <link rel="stylesheet" href="/vendor/ext-5.1.0-gpl/build/packages/ext-theme-crisp/build/resources/ext-theme-crisp-all.css"/>
    <link rel="stylesheet" href="/vendor/ext-5.1.0-gpl/build/packages/ext-ux/build/crisp/resources/ext-ux-all.css"/>

    <!-- Bootstrap -->
    {#<link rel="stylesheet" href="/vendor/bootstrap-3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/vendor/bootstrap-3.3.7/css/bootstrap-theme.min.css"/>#}

    <!-- fonts -->
    <link rel="stylesheet" href="/vendor/components-font-awesome/css/font-awesome.min.css"  type='text/css' >


    <!-- Style -->
    <link rel="stylesheet" href="{{ asset('/standardsbundle/css/styles.css') }}" >

    <script src="/vendor/jquery/dist/jquery.min.js"></script> 
    <!-- Latest compiled and minified JavaScript -->
    {#<script type="text/javascript" src="/vendor/bootstrap-3.3.7/js/bootstrap.min.js"></script>#}

    <!-- ExtJS -->
    {% if app.environment == 'dev' %}
    <script type="text/javascript" src="/vendor/ext-5.1.0-gpl/build/ext-all-debug.js"></script>
    {% else %}
    <script type="text/javascript" src="/vendor/ext-5.1.0-gpl/build/ext-all.js"></script>
    {% endif %}
    <script type="text/JavaScript" src="/vendor/ext-5.1.0-gpl/examples/ux/grid/SubTable.js"></script>
    <script type="text/JavaScript" src="/vendor/ext-5.1.0-gpl/build/packages/ext-locale/build/ext-locale-fr.js"></script>

    <!-- fosRouting -->
    <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script type="text/javascript" src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>

    <!-- Application Bdcom  Extjs -->
    
    <script type="text/javascript">var stdApplication;</script>
    <script src="/standardsbundle/js/Standards/Application.js"></script>
   
   
 </head>
  <body>
    <i id="loading-spiner" class="fa fa-spinner fa-spin loading-spinner" style="font-size:40px"></i>
    <script type="text/javascript">
      $("#loading-spiner").hide();
      Ext.onReady(function(){stdApplication = Ext.application('Standards.Application');})
    </script>
 </body>
</html>