<!DOCTYPE html>
<html>
 <head>
    <title>
        PRODIGE
    </title>
    <META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=UTF-8">
    <!-- IE specific : forcing IE9 Document model because ext 3.0 incompatibility with IE10 -->
    <META HTTP-EQUIV="X-UA-Compatible" CONTENT="IE=9"/>
    <!-- <link rel='shortcut icon' href="favicon.ico" type='image/x-icon'>-->
    {# <!-- ExtJS css --> #}
    <link rel="stylesheet" type="text/css" href="/Scripts/ext3.0/resources/css/ext-all.css">

    <link rel="stylesheet" type="text/css" href="{{ path('catalogue_get_css_file',{'css_file':'accueil'}) }}">
    <link rel="stylesheet" type="text/css" href="{{ path('catalogue_get_css_file',{'css_file':'onglets'}) }}">
    <link rel="stylesheet" type="text/css" href="{{ path('catalogue_get_css_file',{'css_file':'domaines'}) }}">
    <link rel="stylesheet" type="text/css" href="{{ path('catalogue_get_css_file',{'css_file':'panier'}) }}">

    <link type="application/rss+xml" rel='alternate' href="{{ path('catalogue_generate_flux_rss',{'categorie_rss':'MISE_A_JOUR'} ) }} 'title' : 'Mises à jour du catalogue' ">
    <link type="application/rss+xml" rel='alternate' href="{{ path('catalogue_generate_flux_rss',{'categorie_rss':'NOUVEAUTE'  } ) }} 'title' : 'Nouveautés du catalogue' ">
    <script  src="/Scripts/IHM.js"> </script>
    <script  src="/Scripts/panier.js"> </script>
    <script  src="/Scripts/domaines.js"> </script>
    <script  src="/Scripts/events.js"> </script>
    <script  src="/Scripts/ext3.0/adapter/ext/ext-base.js"> </script>
    <script  src="/Scripts/ext3.0/ext-all.js"> </script>
    <script  src="/Scripts/ext3.0/ext-lang-fr.js"> </script>
    <script  src="/Scripts/ext3.0/miframe.js"> </script>
    <script  src="/Scripts/extjs_plugins/Ext.ux.PanelCollapsedTitle.js"> </script>
    <script  src="/Scripts/extjs_overload.js"> </script>
    <script  src="/Scripts/extrender.js"> </script>
    <script  src="/Scripts/extjs_functions.js"> </script>

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>

    {% include 'WebBundle:Default:bandeau.html.twig' with {'modeExtern':'extern'} %}

 </head>
 <body>
    <div id="selectdomain">
      <div>
        Veuillez sélectionner un domaine ou sous-domaine
      </div>
    </div>
    <div id="loading">
      <div class="loading-indicator">
        Chargement en cours...
      </div>
    </div>
    <div id ="pageDiv"> </div>
 </body>
</html>
