{#
  Created on 14 févr. 08
  Page de gestion des droits
  @author Alkante
#}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
 <head>
    <title> {{ title }} </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!-- IE specific : forcing IE9 Document model because ext 3.0 incompatibility with IE10 -->
    <META HTTP-EQUIV="X-UA-Compatible" CONTENT="IE=9"/>
    <!-- ExtJS css -->
    <link rel="stylesheet" type="text/css" href="{{ path('catalogue_get_css_file',{'css_file':'administration_droits'}) }}">
    <link rel="stylesheet" type="text/css" href="{{ path('catalogue_get_css_file',{'css_file':'administration_utilisateur'}) }}">
    <link rel="stylesheet" type="text/css" href="/Scripts/ext3.0/resources/css/ext-all.css">
    
    <script  src="/Scripts/administration.js"> </script>
    <script  src="/Scripts/ext3.0/adapter/ext/ext-base.js"> </script>
    <script  src="/Scripts/ext3.0/ext-all.js"> </script>
    <script  src="/Scripts/extjs_overload.js"> </script>
    <script  src="/Scripts/extjs_plugins/BufferView.js"> </script>
    <script  src="/Scripts/extadminrender.js"> </script>
    <script  src="/Scripts/lib_crypt.js"> </script>
    <script  src="/Scripts/select.js"> </script>
    {{ getVars|raw }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
 </head>
  <body style="margin:0px;" onload="administration_init()">
   <IFRAME style="display:none;width:0;height:0;" name="{{ iframe_name_main }}">
  </IFRAME>
 </body>
</html>